<div id="helpTextContainer">
        <%=render :partial=>"/panels/layer_top_750"-%>
	<%=render :partial=>"/panels/midsize_header_close"%>
<div class=" color-desc-box pairing-all-color-show">
	<div class="clear-height">&nbsp;</div>
	<div class="height10">&nbsp;</div>

	<div class="pairing-msg-header">
		<div class="pm-header-left">
			COLOR KEY
		</div>
	
		<div class="pm-header-right">
			<a href="javascript:void(0);" onclick="birkman_msg.init();"><img src="/assets/small_powered_by_birkman.jpg"/></a>
		</div>
		<div class="clear-height">&nbsp;</div>
	</div>

	<div class="height10">&nbsp;</div>

	<div>
		Based on the results of your Birkman assessment, you have been assigned a particular color for each of the two areas included in the Hilo<sup>TM</sup> pairing system: Work Environment and Role + Interests. Each color is associated with the attributes and characteristics of your personality. Typically, you will have different colors for your Work Environment and Role + Interests, each representing different aspects of your unique personality. Aligning your personality with your work role and environment will greatly increase your chances of finding a satisfying career through Hilo<sup>TM</sup>.
	</div>
	
	<div class="height10">&nbsp;</div>

	<div class="all-c-section pos-left">
		<div class="all-c-vertical">
			<img src="/assets/vertical_red.jpg" />
		</div>

		<div class="all-c-txt">
			<div class="red_birk all-c-head">
				DOER
			</div>
			<div >
				<b>Ray</b> is a doer. He makes quick decisions and organizes others to get results. Ray is very direct and action-oriented, giving his full attention to the task at hand. He enjoys building, organizing, working with his hands, solving practical problems, and producing an 
				end product he can see and feel. He's objective, competitive, and commanding. If you want something done quickly, Ray's your man.
			</div>

		</div>
		<div class="clear-height">&nbsp;</div>
	</div>

	<div class="all-c-section pos-right">
		<div class="all-c-vertical">
			<img src="/assets/vertical_green.jpg" />
		</div>

		<div class="all-c-txt">
			<div class="green_birk all-c-head">
				COMMUNICATOR
			</div>
			<div >
				<b>Greta</b> is a born salesperson with a strong desire to communicate directly and work with people. Every time you see her she is selling, persuading, promoting, motivating, counseling, teaching, or working with people in some way to get results. When she believes in a product, service, or idea, she can sell it. If you want to win friends and influence people, Greta is the right person for the job.
			</div>

		</div>
		<div class="clear-height">&nbsp;</div>
	</div>


	<div class="clear-height">&nbsp;</div>

	<div class="height10">&nbsp;</div>
	<div class="height10">&nbsp;</div>
	
	<div class="all-c-section pos-left">
		<div class="all-c-vertical">
			<img src="/assets/vertical_yellow.jpg" />
		</div>

		<div class="all-c-txt">
			<div class="yellow_birk all-c-head">
				ANALYZER
			</div>
			<div >
				<b>Yelena</b> loves working with processes, details, definitions, and rules. She's happiest doing detailed calculations, scheduling, recordkeeping, and establishing systematic procedures. Yelena is an excellent person to consult on financial matters because she is always cautious and thorough in her analysis. She is task oriented and prefers indirect communication (e.g. forms, rules and 
				regulations, etc.)
			</div>

		</div>
		<div class="clear-height">&nbsp;</div>
	</div>

	

	<div class="all-c-section pos-right">
		<div class="all-c-vertical">
			<img src="/assets/vertical_blue.jpg" />
		</div>

		<div class="all-c-txt">
			<div class="blue_birk all-c-head">
				THINKER
			</div>
			<div >
				<b>Barry</b> is the best idea person around. He is creative, innovative, and an excellent long-range planner. He enjoys abstract ideas and finding new ways to solve problems. Barry thrives when generating ideas and coming up with the most viable solutions for the problem at hand. He is innovative and introspective, yet may need to be around other creative people to trigger the spark.
			</div>

		</div>
		<div class="clear-height">&nbsp;</div>
	</div>


	<div class="clear-height">&nbsp;</div>
	
	<div class="height10">&nbsp;</div>
	<div class="height10">&nbsp;</div>

	

</div>
</div>