<div >
	<%=render :partial=>"/panels/layer_top_750"-%>
	<%=render :partial=>"/panels/midsize_header_close"%>
		
		<div class="color-desc-box">
			<div style="padding:15px;">
				<div style="float:left;width:300px;font-size:18px;fon-weight:bold;padding-top:20px;">
					The Birkman Method &#174;
				</div>
				<div style="float:right;">
					<img src="/assets/powered_by_birkman.jpg"/>
				</div>
				<br class="clear"/>
				<br/><br/>
				<div>
					The personality section of the Pairing Engine is powered by <a href="http://birkman.com/" style="text-decoration:underline;" target="_blank">The Birkman Method &#174;</a>.
				</div>
				<br/><br/>
				<div>
					The Birkman Method &#174; is a unique assessment developed over 50
					years ago by Roger Birkman, PhD. Millions of  people have
					enhanced their careers and enriched their personal lives by using the
					Birkman Method&#174;.
				</div>
				<br/><br/>
				<div>
					Hundreds of assessments are available today that accurately profile
					an individual&#39;s customary behaviors or social style, traits which are
					often self-evident and may evolve over time. The Birkman Method &#174;
					moves a step deeper, recognizing that people have internal needs and
					motivations not often known by others that do not change significantly
					with age. When internal needs are left unmet over extended periods of
					time, people can move into their &#34;stress behavior&#34;. Stress manifests
					itself in less effective performance, lower achievement, and ultimately,
					a less enriching life. Real issues in the workplace are often
					manifestations of a person&#39;s unmet needs.
				</div>
				<br/><br/>
				<div>
						The personality section of the Pairing Engine utilizes two powerful
						sets of analysis from The Birkman Method&#174; to help you accurately
						pair you to the Work Environment and Role that best fits
						who you are. This will help ensure that your motivational needs will be
						met, thus avoiding stress behavior, and your interests will be aligned
						with the day to day responsibilities of the position you choose as your
						career.
				</div>
				<br/><br/>
				<div>
						Copyright <%=Time.now.strftime("%Y")%> &#169; Birkman International Inc.
				</div>
			
			</div>
		</div>

	<%=render :partial=>"/panels/layer_bottom_750"-%>
</div>