<div id="helpTextContainer">
        <%=render :partial=>"/panels/layer_top_750"-%>
	<%=render :partial=>"/panels/midsize_header_close"%>
<div class=" color-desc-box pairing-all-color-show">
	<div class="clear-height">&nbsp;</div>
	<div class="height10">&nbsp;</div>

	<div class="pairing-msg-header">
		<div class="pm-header-left">
			Contact Us
		</div>
	
		<div class="pm-header-right">
			<a href="javascript:void(0);" onclick="birkman_msg.init();"><img src="/assets/small_powered_by_birkman.jpg"/></a>
		</div>
		<div class="clear-height">&nbsp;</div>
	</div>

	<div class="height10">&nbsp;</div>
	<div class="popup-heading">Hilo, Inc. Contact Us</div>
	<div class="height10">&nbsp;</div>
	<div>
		
		Contact Us
		
	</div>
	
	<div class="height10">&nbsp;</div>
</div>

<%=render :partial=>"/panels/layer_bottom_750"-%>  
</div>