<div id="helpTextContainer">
        <%=render :partial=>"/panels/layer_top_750"-%>
	<%=render :partial=>"/panels/midsize_header_close"%>
<div class=" color-desc-box pairing-all-color-show">
	<div class="clear-height">&nbsp;</div>
	<div class="height10">&nbsp;</div>

	<div class="pairing-msg-header">
		<div class="pm-header-left">
			About HILO
		</div>
	
		<div class="pm-header-right">
			<a href="javascript:void(0);" onclick="birkman_msg.init();"><img src="/assets/small_powered_by_birkman.jpg"/></a>
		</div>
		<div class="clear-height">&nbsp;</div>
	</div>

	<div class="height10">&nbsp;</div>

	<div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare urna eu eros hendrerit vel lobortis est gravida. 
		Nam bibendum nunc sed ligula egestas molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
		Aenean at diam lacus, rutrum tincidunt arcu. Ut hendrerit massa quis magna iaculis ut tincidunt tortor pellentesque. Nullam non aliquet arcu. 
		In vel tortor ut nunc porttitor tempor. Proin accumsan odio a ante porta eget tincidunt tellus rutrum.
	</div>
	
	<div class="height10">&nbsp;</div>
	<div class="height10">&nbsp;</div>

	<div class="all-c-section pos-left">		
		<div class="all-c-txt">
			<div class="red_birk all-c-head">
				Candidate Pool
			</div>
			<div>
				View candidates ranked in order of fit for this position by clicking on the graph categories above. 
				Or click on a Position to view all canditates in the Hilo database ranked by fit.
			</div>

		</div>
		<div class="clear-height">&nbsp;</div>
	</div>

	<div class="all-c-section pos-right">
		<div class="all-c-txt">
			<div class="green_birk all-c-head">
				Position Profile
			</div>
			<div >
				Create or edit a profile for any position and see exactly what the career seeker sees when considering it. 
				The more compelling your profile the more candidates you'll have to choose from, increasing your chances of hiring the right person. 
			</div>

		</div>
		<div class="clear-height">&nbsp;</div>
	</div>


	<div class="clear-height">&nbsp;</div>

	<div class="height10">&nbsp;</div>
	<div class="height10">&nbsp;</div>
	
	<div class="all-c-section pos-left">		
		<div class="all-c-txt">
			<div class="yellow_birk all-c-head">
				Posting Manager
			</div>
			<div >
				When you're ready to tell the world about the position you are trying to fill, select the Posting Manager. 
				Open, manage and track responses through multiple channels. 
			</div>

		</div>
		<div class="clear-height">&nbsp;</div>
	</div>

	

	<div class="all-c-section pos-right">
		<div class="all-c-txt">
			<div class="blue_birk all-c-head">
				Analytics
			</div>
			<div >
				Coming Soon 
			</div>

		</div>
		<div class="clear-height">&nbsp;</div>
	</div>


	<div class="clear-height">&nbsp;</div>
	
	<div class="height10">&nbsp;</div>
	<div class="height10">&nbsp;</div>

	

</div>
<%=render :partial=>"/panels/layer_bottom_750"-%>  
</div>