<div >
	<%=render :partial=>"/panels/layer_top_750"-%>
	<%=render :partial=>"/panels/midsize_header_close"%>
		
		<div class="color-desc-box">
			<div style="padding:15px;">
				<div style="float:left;width:300px;font-size:18px;fon-weight:bold;padding-top:20px;">
					The Role You Choose
				</div>
				<div style="float:right;">
					<img src="/assets/powered_by_birkman.jpg"/>
				</div>
				<br class="clear"/>
				<br/><br/>
				<div>
					Job Role is the collection of tasks and responsibilities that you will carry out day-to-day for your employer. 
				</div>
				<br/><br/>
				<div>
					Results from The Birkman Method&#174; questionnaire determine your Job Role category for the pairing system. We know that everyone is unique and that other Job Role categories may contain aspects that you may feel describe characteristics you would like to find in a position.  Your Job Role category is where you will find the strongest support for your needs. 
				</div>
				<br/><br/>
				
				<div class="pos-right">
					<%=render :partial =>"/shared/birkman_copy_right" -%>
				</div>
				<br class="clear"/>
			</div>
		</div>

	<%=render :partial=>"/panels/layer_bottom_750"-%>
</div>