<div >
	<%=render :partial=>"/panels/layer_top_750"-%>
	<%=render :partial=>"/panels/midsize_header_close"%>
		
		<div class="color-desc-box">
			<div style="padding:15px;">
				<div style="float:left;width:300px;font-size:18px;fon-weight:bold;padding-top:20px;">
					Your Work Environment
				</div>
				<div style="float:right;">
					<img src="/assets/powered_by_birkman.jpg"/>
				</div>
				<br class="clear"/>
				<br/><br/>
				<div>
					Your Work Environment is the social and professional environment in which you interact with other people and carry out your Job Role. Your personality along with your preferences, expectations and underlying needs - indicate the type of work environment where you will find a higher probability of success and fulfillment. 
				</div>
				<br/><br/>
				<div>
					In those Work Environments that connect well to your personality and underlying needs you will find a natural alignment to the support structure that will help you succeed.  The Work Environment you choose will be one of most important decisions you will make when considering any new Career opportunity.
				</div>
				<br/><br/>

				<div class="pos-right">
					<%=render :partial =>"/shared/birkman_copy_right" -%>
				</div>
				<br class="clear"/>
			
			</div>
		</div>

	<%=render :partial=>"/panels/layer_bottom_750"-%>
</div>