<%if step == "account" -%>
	<div class="tab-section">
		<div class="tab-box">
			<div class="tab-innner-left"><img src="/assets/no1_blue.png" /></div>
			<div class="tab-innner-right">Create Your Account</div>
		</div>
		
		<div class="tab-divider">&nbsp;</div>

				
		<div class="tab-box-inactive">
			<div class="tab-innner-left"><img src="/assets/no2_grey.png" /></div>
			<div class="tab-innner-right">Payment Set-Up & Site Activation</div>
		</div>
	</div>

	<div class="dummy-tab-block">
		<div class="tab-box-dummy">&nbsp;</div>
		<div class="tab-divider-dummy">&nbsp;</div>
		<div class="tab-box-dummy tab-box-dummy-inactive">&nbsp;</div>
		<div class="dummy-tab-left-employer">&nbsp;</div>
		<div class="dummy-tab-right"></div>
	</div>

<%else-%>
	<div class="tab-section">
		<div class="tab-box-inactive">
			<div class="tab-innner-left"><img src="/assets/no1_grey.png" /></div>
			<div class="tab-innner-right">
				<div class="tab-label">Create Your Account</div>
				<span class="competed-step"><img src="/assets/tick_mark.gif" alt="tick"/> Complete</span>
			</div>
		</div>
		
		<div class="tab-divider">&nbsp;</div>

			
		<div class="tab-box">
			<div class="tab-innner-left"><img src="/assets/no2_blue.png" /></div>
			<div class="tab-innner-right">Payment Set-Up & Site Activation</div>
		</div>
	</div>

	<div class="dummy-tab-block">
		<div class="tab-box-dummy tab-box-dummy-inactive">&nbsp;</div>
		<div class="tab-divider-dummy">&nbsp;</div>
		<div class="tab-box-dummy ">&nbsp;</div>
		<div class="dummy-tab-left-employer">&nbsp;</div>
		<div class="dummy-tab-right"></div>
	</div>
<%end%>