<ul class="account-type">
  <li class="free_user" style="padding-right: 25px;"><input value="0" type="checkbox" class="styled checkbox" checked="checked" /><label class="lbl" onclick="showFreeUser();"><%=t ("employer_acc_setup.single") %></label></li>
  <li class="corp_user" style="padding-right: 0px;"><input value="1" type="checkbox" class="styled checkbox" /><label class="lbl" onclick="showCorpUser();"><%=t ("employer_acc_setup.corporate") %></label></li>
</ul>