<div>
	<%=render :partial=>"/panels/midsize_header_close"%>
	<%=render :partial=>"/panels/layer_top_750"-%>
	
	<div class="gift-box">
		<div style="padding:15px;" id="gift-container">
			<%=render :partial=>"gift_home"%>
		</div>
	</div>

	<%=render :partial=>"/panels/layer_bottom_750"-%>
</div>