<%  if !@old_payment_obj.nil? %>
  <% if @credit_value.nil? or @credit_value == 0 %>
    gift_hilo.showNonRegAuthorizeGiftPurchase('<%=  @old_payment_obj.card_type %>');
    $("#credit_gift_block").html('<span id ="credit_remaining" class="credit_block"><a href="javascript:void(0)" onclick="gift_hilo.openPopup();" id="preview_card_select">Modify payment method</a></span>');
  <% else %>
    gift_hilo.showNonRegAuthorizeGiftPurchase('promo');
    $("#credit_gift_block").html('<span id ="credit_remaining" class="credit_block">CREDIT<br />REMAINING<br />$<%= number_to_currency(session[:job_seeker].credit.credit_value, :unit=>"") %></span>');
  <% end %>
<%  else %>
  <% if @credit_value.nil? or @credit_value == 0 %>
    $("#gift_cc_billing_popup").html("<%= escape_javascript render(:partial => "/home/credit_card_popup", :locals => {:promo_consumed_amount => nil, :remianing_amount => nil}) %>");
    gift_hilo.showGiftccBilingPopup();
    $('#senders_name_pay').val(senders_name);
    $('#senders_email_pay').val(senders_email);
    $('#recievers_name_pay').val(recievers_name);
    $('#recievers_email_pay').val(recievers_email);
    $('#personal_msg_pay').val(personal_msg);
  <% else %>
    gift_hilo.showNonRegAuthorizeGiftPurchase('promo');
    $("#credit_gift_block").html('<span id ="credit_remaining" class="credit_block">CREDIT<br />REMAINING<br />$<%= number_to_currency(session[:job_seeker].credit.credit_value, :unit=>"") %></span>');
  <% end %>
<%  end %>