<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="height:10px;"></div>
    <div>
      Welcome and thank you for signing up for free Beta Access to <a href="https://<%=@host_name%>/job_seeker/new ">thehiloproject.com!</a>
      <br /><br />
      To complete your profile and activate your account, click on unique access code below(you'll need this code later, too):
      <br/>
      <a href="https://<%=@host_name%>/job_seeker/new "><%=@pc_obj.code%></a>
      <br/><br/>
      When you reach the Site Activation step in the setup wizard, enter this code where it says "Enter promo or gift code" and hit the "Apply" button.
      <br/>
      This allows you to download your Career Forward Guide right away and begin reviewing jobs in the Hilo database.
      <br/>
      You will also receive a credit to view three Position Details for free.
      <br /><br />
      Good luck and please remember to share feedback with us about the site.
      <br /><br />
      - Team Hilo
      <br /><br />
      <img alt="logo" src="https://<%=@host_name%>/assets/logo-hilo_new.png" width="120" height="103" />
    </div>
  </body>
</html>