<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div>
      Thank you for your interest in setting up a Corporate account with The Hilo Project. Your request is being reviewed and we will be contacting you as soon as that process is complete.
    </div>
    <br />
    <div>
    	If you have any questions you can contact us at any time at Feedback@TheHiloProject.com
    </div>
    <br />
    <div>
    	Thank you for allowing us at Hilo to help you find the right people for the right jobs.
    </div>
    <div>
      <br /><br />
      - Team Hilo
      <br /><br />
      <img alt="logo" src="https://<%=@host_name%>/assets/logo-hilo_new.png" width="120" height="103" />
    </div>
  </body>
</html>