<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="height:10px;"></div>
    <span><%=@emp.first_name%> <%=@emp.last_name%>,</span>
    <br/><br/>
    <%# if @emp.request_deleted == true %>
    <span>Your account has been deleted.</span>
    <br/>
    <span>Please write back to us at Feedback@TheHiloProject.com should you have any other questions or need any further assistance.</span>
    <%# else %>
    <%# end %>
    <br/><br/>
    <span>The Hilo Team</span>
    <br/><br/>
    <img alt="logo" src="https://thehiloproject.com/assets/logo-hilo_new.png" width="120" height="103" />
  </body>
</html>
