<%#*<!DOCTYPE html>%>
<%#*<html>%>
  <%#*<head>%>
    <%#*<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />%>
  <%#*</head>%>
  <%#*<body>%>
<%#TODO DLEETE%>

<%#*<div>%>
<%#*<img alt="logo" src="https://<%= @host_name%>/assets/hilo_logo.png"/>%>
<%#*</div>%>
<%#*<div style="height:10px;"></div>%>
<%#*<div>%>
<%#*Feedback: <br/>%>
<%#= @message%>
<%#*<br/>%>
<%#*<br/>%>
<%#*Thanks%>
<%#*<br />%>
<%#= @name %>
<%#*</div>%>
  <%#*</body>%>
<%#*</html>%>