<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="height:10px;"></div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td style="border-top:solid 1px #DFDFDF; border-right:solid 1px #DFDFDF; padding: 5px; width: 50%;">
          <div>
            <%=@gift.sender_name%> has gifted you a Hilo <sup>&reg;</sup> Career Seeker account.
            <br/>
            Enter this Gift Card number <%=@pc_obj.code%> in the "Site Activation" step of the Hilo<sup>&reg;</sup> Sign Up Wizard.
          </div>
          <br/>
          <div>
            <%=@gift.mail_text%>
          </div>
          <br/>
        </td>

        <td style="border-top:solid 1px #DFDFDF;padding:5px;">
          <div>
            Hilo <sup>&reg;</sup>
          </div>
          <div>
            <a href="https://www.thehiloproject.com">www.thehiloproject.com</a>
          </div>
          <br/>
          <div>
            Hilo <sup>&reg;</sup> brings Career Seekers and Employers together using a highly interactive pairing system that not only takes into consideration traditional criteria such as credentials but personality and work environment fit too.  Explore Hilo <sup>&reg;</sup> and discover the tools you need to find the career you've always wanted.  Explore Hilo <sup>&reg;</sup>.
          </div>
        </td>
      </tr>
    </table>
    <br /><br/>
    - Team Hilo
    <br /><br />
    <img alt="logo" src="https://<%=@host_name%>/assets/logo-hilo_new.png" width="120" height="103" />
  </body>
</html>