<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="height:10px;"></div>
    <div>
      We're glad you were curious enough to give Hilo a look. Whether you found a lot of opportunities that matched this quick search or not,
      we encourage you to sign up for Hilo and let us get to work for you. Hilo is a living system and the positions in Hilo are constantly changing.
      Our team focuses on finding opportunities that match our members, so becoming a member is the best way for us to help you -- and it's FREE.
      Simply use the promotional code below when you get to the payment page, and you will be given full, lifetime membership. 
      <br/><br/>
      <%= @pc_code %>
      <br/><br/>
      Once you sign up, you will be able to complete a full profile so that you get the full benefit of Hilo's matching technology.
      In addition, you'll receive your own Career Forward Guide that contains helpful insights into how you work now, how to deal with stress better,
      as well as how to focus on the most important aspects in your career search.
      <br/>
      We look forward to helping you in your search for 'meaningful employment'.
      <br /><br />
      - Team Hilo
      <br /><br />
      <img alt="logo" src="https://<%=@host_name%>/assets/logo-hilo_new.png" width="120" height="103" />
    </div>
  </body>
</html>