<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="height:10px;"></div>
    <span>Welcome to your new Hilo account courtesy of <%=@company_name%>. You can follow the link below and complete your account creation process, including completing your candidate profile.</span><br/>
    <span>Once finished, you will be able to download your personalized Career Forward Guide, which has valuable insights to help you in your career progression.</span><br/>
    <span>Additionally, because this is a company sponsored account, you will be able to see positions posted by <%=@company_name%> that are not visible to the general group of Hilo users.</span>
    <br/><br/>
    <span>Please sign in, complete your profile and explore!</span>
    <br/>
    <a href="<%=@link%>">thehiloproject.com</a>
    <br/><br/>
    <span>Thank you for allowing Hilo to help you on your goal of Meaningful Employment!</span>
    <span>Sincerely,</span>
    <span>The Hilo Team</span>
    <br/><br/>
    <img alt="logo" src="https://thehiloproject.com/assets/logo-hilo_new.png" width="120" height="103" />
  </body>
</html>