<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="height:10px;"></div>
    <br />
    <div>
      <%=@sender_name%> has removed your account on The Hilo Project. All job postings you had in the system have been reallocated by that user.
      If you believe this was done in error, please contact us at Feedback@TheHiloProject.com
    </div>
    <br />
    <div>
      - Team Hilo
      <br /><br />
      <img alt="logo" src="https://<%=@host_name%>/assets/logo-hilo_new.png" width="120" height="103" />
    </div>
  </body>
</html>