<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="height:10px;"></div>
    <br />
    <div>
      <%=@sender_name%> has temporarily suspended your account on The Hilo Project. None of your data has been lost and 
      your job postings have all been preserved, however you will not be able log into the system at this time.
    </div>
    <br />
    <div>
      <br /><br />
      If you believe this was done in error or wish further clarification, please contact <%=@sender_name%>.
      <br />
      - Team Hilo
      <br /><br />
      <img alt="logo" src="https://<%=@host_name%>/assets/logo-hilo_new.png" width="120" height="103" />
    </div>
  </body>
</html>