<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div>
      A new corporate account request has been submitted. Please access the admin page to complete the account setup. <br />
      <a href="https://<%=@host_name%>/admin" target="_blank">https://<%=@host_name%>/admin</a>
    </div>
    <div>
      <br /><br />
      - Team Hilo
      <br /><br />
      <img alt="logo" src="https://<%=@host_name%>/assets/logo-hilo_new.png" width="120" height="103" />
    </div>
  </body>
</html>