<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="height:10px;"></div>
    <span><%=@emp.first_name%> <%=@emp.last_name%>,</span>
    <br/><br/>
    <span>In response to the deletion request from your root, your account will be promoted to the root account of your organization.</span>
    <br/><br/>
    <span>The Hilo Team</span>
    <br/><br/>
    <img alt="logo" src="https://thehiloproject.com/assets/logo-hilo_new.png" width="120" height="103" />
  </body>
</html>
