<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="height:10px;"></div>
    <span><%=@first_name%> <%=@last_name%>,</span>
    <br/><br/>
    <span>Since you have access to Hilo via company account, this gives you access to positions that may not be visible to other Hilo users.</span><br/>
    <span>Periodically we need to reset your password to ensure that you still have access to this company email account, and thus are still permitted access.</span><br/>
    <span>Simply follow the link below to reset your password and maintain access to the Hilo system.</span>
    <br/><br/>
    <a href="https://thehiloproject.com/home?forgot_pass=<%= @fpwd_code %>">Change Password</a>
    <br/><br/>
    <span>Thank you,</span>
    <span>The Hilo Team</span>
    <br/><br/>
    <img alt="logo" src="https://thehiloproject.com/assets/logo-hilo_new.png" width="120" height="103" />
  </body>
</html>
