<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="height:10px;"></div>
    <div>
      Positions matching your work environment are now available on TheHiloProject.com
    </div>
    <br />
    <br />
    <div>
      - Team Hilo
      <br /><br />
      <img alt="logo" src="https://thehiloproject.com/assets/logo-hilo_new.png" width="120" height="103" />
    </div>
  </body>
</html>