<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div>
      Click on the link below to change password of your HILO account
    </div>
    <br/>
    <div>  
      <a href="https://<%=@host_name%>/home?forgot_pass=<%= @fpwd_code %>">Change Password</a>
      <br /><br />
      - Team Hilo
      <br /><br />
      <img alt="logo" src="https://<%=@host_name%>/assets/logo-hilo_new.png" width="120" height="103" />
    </div>
  </body>
</html>