<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="height:10px;"></div>
    <div>Congratulations!</div>
    <br />
    <div>
      Your corporate account with Hilo has been successfully created. You can now post positions on your own and view candidates that fit.
      In addition, you can create additional users under this account for other members of your team. You will be able to see all of your activity as well as that of any user you create.
      Remember, there is an unlimited hierarchy in Hilo's user structure, so you can have as many or as few levels and users in your account as you wish.
    </div>
    <br />
    <div>
      You can access the system by logging in with your email address <%= @email %> and with the temporary password of <%= @password %>.
      Once you sign in you should change your password to something you can better remember.
    </div>
    <div>
      <br /><br />
      If you have any questions or need any assistance with the site, you can contact us at any time at Feedback@TheHiloProject.com
      <br /><br />
      Thank you for allowing us at Hilo to help you find the right people for the right jobs.
      <br />
      - Team Hilo
      <br /><br />
      <img alt="logo" src="https://<%=@host_name%>/assets/logo-hilo_new.png" width="120" height="103" />
    </div>
  </body>
</html>