<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="height:10px;"></div>
    <br />
    <div>
      You have been granted account administration access for Hilo.
      This will allow you to administer user and account privileges, such as setting up corporate accounts and granting company discounts.
      To access this go to <a href="https://thehiloproject.com/admin/">TheHiloProject</a> and use <%= @email %> and <%= @password %> to log in.
    </div>
    <br />
    <div>
      <br /><br />
      If you have any questions contact Chris
      <br />
      - Team Hilo
      <br /><br />
      <img alt="logo" src="https://<%=@host_name%>/assets/logo-hilo_new.png" width="120" height="103" />
    </div>
  </body>
</html>