<div style="text-align:center;">
<div class="prvw-birk-box-center">
	<div class="prvw-birk-box-content">
		<div>
			<%=job_seeker.first_name%> thrives in <%if defined?(job_seeker_birkman_detail) and !job_seeker_birkman_detail.nil?%>
				<span class="dc-birk-box-content-remark"><%=seeker_workenv_txt_by_score(job_seeker_birkman_detail)%></span>	Work Environment.
			<%end%>
		</div>

		<div class="left-shift">
			...and this position is ideally suited for <span class="dc-birk-box-content-remark birkman-msg-no-msg">{Value}</span>
			
		</div>
		
		<div>
			<%=job_seeker.first_name%> excels in the Role of <%if defined?(job_seeker_birkman_detail) and !job_seeker_birkman_detail.nil?%>
				<span class="dc-birk-box-content-remark"><%=seeker_role_txt_by_score(job_seeker_birkman_detail)%></span>	
			<%end%>
		</div>

		<div class="left-shift">
			...and this position is tailored for <span class="dc-birk-box-content-remark birkman-msg-no-msg">{Value}</span>
		</div>


	</div>
	<div class="dc-birk-box-log">
		<img src="/assets/small_powered_by_birkman.jpg" />
	</div>
</div>
</div>