<div class="white_content" id="questionnaire-completed-id">
<div class="personality-question-completed" style="display:block;">
  <span class="popup-top">&nbsp;</span>
  <div class="popup-content">
    <div class="gradient-content">
      <div class="popup-header-container">
        <label class="popup-heading"><%=t ("personality_questionnaire.complete_pop_up.heading") %></label>
      </div>
      <h3 class="idel-work"><%=t ("personality_questionnaire.complete_pop_up.contentL1") %></h3>
      <div class="access-block">
        <div class="lfloat pp-complete-text">
          <label class="free-text"><%=t ("personality_questionnaire.complete_pop_up.contentL2") %></label>
          <br/></br>
          <label class="free-text"><%=t ("personality_questionnaire.complete_pop_up.contentL3") %></label>
        </div>
        <div class="rfloat width-99px" style="margin-bottom: 6px; margin-top: 43px;">         
          <input type="button" id="continue" class="continue-button-active" />
        </div>
      </div>
    </div>

    <div class="home-popup-contnet"></div>
      <a class="close" href="javascript:void(0)" onclick="closeQComplete();">Close</a>
  </div>
    <span class="popup-bottom">&nbsp;</span>
</div>
</div>