<div class="birkmanid-outer-box">
	<%=render :partial=>"/panels/layer_top_800"-%>
	<%=render :partial=>"/panels/midsize_header_close"%>
	<div class="birkmanid-inner-box" style="background-color:#ffffff;">
		Place Holder
	</div>
	<%=render :partial=>"/panels/layer_bottom_800"-%>
</div>
