<style>
.message-birkman{
	color: #000078;
	font-family: Arial;
	font-size:16px;
	font-weight:normal;
	text-align:center;
	margin-top:50px;

}
</style>

<div class="message-birkman">
	Failed to initialize Birkman Questionnaire.
</div>

<%#=debug(@response)%>


<%#=debug(@e)%>