<div class="one_click_payment_position_white_content" id="category_reassign_deleted" style="display:none; position: fixed;">
            <div class="dashboard_position_popup-siteActivation">
                    <span class="position_popup-top">&nbsp;</span>
                    <div class="position_popup-content_oneclick">
                            <div class="position_gradient-content_oneclick">
                                    <div class="position_popup-header-container">
                                            <label class="popup-heading">OOPS!</label>
                                    </div>

                                    <div class="position_popup_select_box">
                                        <div class="access-block">
                                          <div class="lfloat error-text" style="width: 70%;">
                                            <label class="free-text" id="folder-free-text">The folder does not exist in the system.</label>
                                          </div>
                                          <div class="rfloat" id="action-button" style="margin-left:0px;">
                                            <input type="button" id="category_reassign_deleted_button" class="ok-button-active" onclick="close_category_reassign_deleted();"/>
                                          </div>
                                        </div>
                                    </div>
                            </div>
                            <a id="save-close" href="javascript:void(0)" class="position_close_oneclick" onclick="close_category_reassign_deleted();">Close</a>
                    </div>
                    <span class="position_popup-bottom">&nbsp;</span>
            </div>
</div>