<div style="display: none;" class="white_content" id="posting-success-hilo-job-seeker">
  <div class="popup-upper-block-fogetPwd" style="">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label class="popup-heading job_expiry_warning"><%= t('shared.success_sharing_hilo_msg.heading') %></label>
        </div>
        <div class="access-block">
          <div class="lfloat error-text">
            <label class="free-text job_expiry_msg" id="success_sharing_msg">
            </label>
          </div>
          <div class="rfloat margin-T-5px">
            <input id="posting-success-hilo-job-seeker_button" type="button" onclick="hideSuccessShadow(); hideErrorShadow(); $('#posting-success-hilo-job-seeker').hide();" class="ok-button-active"/>
          </div>
        </div>
      </div>

      <div class="home-popup-contnet">

      </div>
      <a onclick="hideSuccessShadow(); hideErrorShadow(); $('#posting-success-hilo-job-seeker').hide();" class="close" href="javascript:void(0)">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>