<style>
.tandcheader{
	font-weight:bold;
	font-size:14px;
	margin:10px 0px 10px 0px;
	color: #000078;
	font-family: Arial;
}
.tandctext{
	margin:10px 0px 10px 0px;
	color: #000078;
	font-family: Arial;
	font-size: 12px;

}

.tandc-heading-align{
	text-align:center;
}

.tandc-text-align{
	text-align:center;
}
</style>
<div >
	<div class="tandcheader tandc-heading-align">Career Seeker User Agreement</div>
	<div class="tandctext tandc-text-align">(Last Revised April, 2011)</div>
</div>
 
<div class="tandctext">
	Welcome to the Hilo Project!
</div>
 
<div class="tandctext">
	Hilo, Inc. ("Hilo"), through the Hilo website and related online services is pleased to provide its service to you subject to the following terms and conditions. Please read this User Agreement (the "Agreement") carefully before accessing or using Hilo online services (the "Service"). 
</div>
 
<div class="tandctext">
	BY CLICKING ON THE "I ACCEPT" BUTTON BELOW YOU ACKNOWLEDGE THAT YOU HAVE READ THE ENTIRE TERMS AND CONDITIONS OF THIS AGREEMENT, INCLUDING THE PRIVACY POLICY, AND THAT YOU AGREE TO BE BOUND BY THEM.
</div>
 


<div class="tandcheader">
	GENERAL
</div>
 
<div class="tandctext">
	Hilo may update this Agreement from time to time. Notice of modifications to the Agreement will be posted on this page. Additional terms that apply to specific parts of the Service may also be posted in the relevant parts of the Hilo website from time to time and will be clearly identified. Any and all such additional terms are hereby incorporated by reference into this Agreement. All modifications to this Agreement will become effective immediately upon posting. Your continued use of the Service constitutes your acceptance of any changes or revisions to this Agreement, so please check this page regularly. 
</div>
 
<div class="tandctext">
	Failure to comply with the terms of the Service, whether contained in this Agreement or in notices posted at various points in the Service, may result in termination of your access to the Service and your Hilo membership, in addition to any other remedies available to Hilo and/or its associated content or service providers. Determination of such failure of compliance shall be in the sole discretion of Hilo, and Hilo shall consider both the letter and spirit of this Agreement. 
</div>
 
<div class="tandcheader">
	PROPRIETARY CONTENT
</div>
 
<div class="tandctext">
	Hilo respects the intellectual property of others and asks that its users do the same. You acknowledge and agree that the Service contains valuable proprietary information that is protected by applicable intellectual property and other rights and laws. If you believe that your copyrighted work has been infringed on the Service, or on any site that the Service links to, please see our Procedure for Making Claims of Copyright Infringement. 
</div>
 
<div class="tandctext">
	Hilo is the owner, licensee, or authorized user of any trademark, service mark, registered trademark, or registered service mark appearing on the Hilo website. All rights are reserved. Other brands, products, or services are trademarks, service marks, registered trademarks, or registered service marks of their respective owners and should be treated as such. 
</div>
 
<div class="tandctext">
	Hilo is the copyright owner or licensee, or otherwise has the right to display all content and information on the Hilo website. Hilo owns a copyright in the selection, coordination, arrangement and enhancement of the content of the Service as a compilation or collective work, as well as content original to Hilo, including, but not limited to, any of the screens appearing on the Hilo website. 
</div>
 
<div class="tandctext">
	You may download and print portions of material from the different areas of the Service with the following restrictions and limitations. You may make one machine readable copy and one print copy of any portions of material downloaded from the Service solely for your own non-commercial use. Beyond this, and except as otherwise expressly permitted under U.S. copyright law, no other copying, redistribution, retransmission, publication, performance, display, modification, creation of derivative works, or commercial exploitation of content of the Service, in whole or in part, will be permitted without the express prior written permission of Hilo and the copyright owner (if not Hilo). In the event of any permitted copying, redistribution or publication of copyrighted material, no changes in, or deletion of, author attribution, trademark legend, or copyright notice shall be made. You acknowledge that you do not acquire any ownership rights by downloading copyrighted material. Other than as expressly stated herein, Hilo does not grant any license or other authorization to you or to any user of our, or our content or service providers', trademarks, registered trademarks, service marks, registered service marks, other copyrightable material or other intellectual property, by placing them on the Hilo website. 

</div>			 

<div class="tandctext">
	The materials and information you submit in connection with creating your account, entering pairing profile data, completing your personality questionnaire, and entering payment information (all of these are referred to as your "Personal Information") are governed by our Privacy Policy, which is incorporated herein by reference.  Separate and distinct from these areas that collect personal information from you, the Hilo Service may include certain areas that are public, and allow for discussion, posting and interaction among Hilo users.  These public areas may include chat groups, bulletin boards, forums, newsgroups, and other similar areas.  Information and postings you submit through these public areas of the Service are treated differently than Personal Information.  You agree to grant to Hilo a non-exclusive, royalty-free, worldwide, perpetual license, with the right to sublicense, to reproduce, distribute, transmit, create derivative works of, publicly display and publicly perform any materials and other information (including, without limitation, any ideas contained therein) you submit, post to, or transmit through public areas of the Service (such as chat groups, bulletin boards, forums, and newsgroups) by all means and in any media now known or hereafter developed.  You may choose whether to associate your name or a username with your public posts or communications.  If you choose to associate your name or a username with your public posts or communications, you grant to Hilo the right to use such names and other information in such public areas of the Service, as well as in connection with all advertising, marketing and promotional material related thereto. You acknowledge that Hilo may freely assign or transfer the rights granted herein. Further, you agree that you shall have no recourse against Hilo for any alleged or actual infringement or misappropriation of any proprietary right in your communications to us (other than with respect to your Personal Information), or in any materials you submit, post to, or transmit through public areas of the Service. 
</div>			 

<div class="tandctext">
	You warrant and represent to Hilo that (a) you have the authority to enter into this Agreement and sufficient rights to grant the licenses granted herein, and (b) any materials and other information that you submit, post to, or transmit through the Service will not infringe on any third party's copyright, patent, trademark, trade secret, or other proprietary rights. You acknowledge that the burden of determining that any submitted or posted material is not protected by copyright rests with you and you agree that you shall be solely liable for any damage resulting from any infringement of copyrights, other proprietary rights, or any other harm resulting from your submissions or postings. Further, you agree to abide by all other provisions of this Agreement relating to any materials or other information which you submit, post to, or transmit through the Service. 
</div>	
 
<div class="tandcheader">
	HILO ACCOUNTS 
</div>
 
<div class="tandctext">
	While you may access and use certain portions of the Service without creating a Hilo account and becoming a member, an account is required to take full advantage and receive certain benefits of the Service, including the ability to use certain evaluative tools, receive customized content, and take advantage of our pairing engine. 
</div>
			 
<div class="tandctext">
	However, Hilo membership is strictly limited to citizens of the United States of America and by creating a Hilo account, you warrant that you are such a citizen. If you are not a U.S. citizen, but register as a Hilo member, personal data which you supply may be stored in a country other than that in which you reside.  Therefore, please do not create a Hilo account if you are not a U.S. citizen. 
</div>
 
<div class="tandctext">
	When you create a Hilo account, you will use your Hilo ID and password to gain access to the Service. Your privacy is important to us, so please remember that it is your responsibility to maintain the confidentiality of your Hilo ID and password. Please do not share your Hilo ID or password with anyone. As a Hilo member, you agree to notify Hilo immediately of any unauthorized use of your Hilo ID or password, or any other breach of security. Further, you agree to pay all charges incurred by users of your Hilo ID and your credit card or other payment mechanism at prices in effect when such charges are incurred, including applicable taxes. You understand that certain third parties may offer services through the Service.  The prices for products and services offered through the Service may change at any time.  You also understand that Hilo is not responsible or liable for any compromise of the security or integrity of your Hilo ID, password, account, or Personal Information, or any resulting loss or damage, which occurs in connection with or as a result of any computer and other equipment, software and software settings, network and network components, and Internet Service Provider which you use in communicating with the Service. Hilo has no control over these matters and you assume total risk and responsibility for your connection to and communications over the Internet. Hilo cannot and will not be liable for your failure to comply with any of these terms.
</div>
 
<div class="tandcheader">	
	USER CONDUCT
</div>
 
<div class="tandctext">
	Hilo strives to provide you with the information most critical and appropriate to you, in connection with helping you to evaluate your job satisfaction, career choices, personality characteristics and working relationships. In consideration of your use of the Service, you agree to provide true, accurate, current and complete information when completing your account information, pairing profile and personality questionnaire, or when otherwise prompted for information on the Service, and to maintain and update this information to keep it true, accurate, current and complete. This expressly includes the provision of credit card or other payment mechanism information. If any information provided by you is untrue, inaccurate, incomplete, or out-of-date, Hilo reserves the right to terminate your access to and use of the Service without notice. 
</div>
 
<div class="tandctext">
	Hilo is providing the Service for your personal, non-commercial use and enjoyment. You agree not to reproduce, duplicate, copy, sell, resell, or exploit for any commercial purposes, any portion of the Service, design elements or layout of the Service, use of the Service, or access to the Service. 
</div>
 
<div class="tandctext">
	Hilo supports free expression and the free exchange of ideas on the public areas of the Service. However, in recognition of Hilo and the Service as providing a strong and vibrant online community, receptive to and respectful of the views of users of diverse backgrounds, cultures, and age groups, you agree that while accessing or using the Service you will not: 
</div>
 
<div class="tandctext">
	<div>
		1) restrict or inhibit any other user from using or enjoying the Service; or 
	</div>

	 
	<div>
		2) represent yourself as another or as a fictitious individual, unless you are participating in an area of the Service that facilitates or encourages anonymity; or 
	</div>			 

	<div>
		3) disrupt or interfere with the Service, or alter or tamper with any information or materials on or associated with the Service not submitted and maintained by you; or 
	</div>			 

	<div>
		4) post or transmit any unlawful, fraudulent, libelous, defamatory, obscene, pornographic, profane, threatening, abusive, hateful, offensive, harassing, or otherwise objectionable information of any kind, including, without limitation, any transmissions constituting or encouraging conduct that would constitute a criminal offense, give rise to civil liability, or otherwise violate any local, state, national, or foreign law; or 
	</div> 

	<div> 
		5) post or transmit any information which is invasive of privacy or publicity rights, or violates or infringes in any way upon the rights of others; or 
	</div>			 

	<div> 
		6) post or transmit any advertisements, solicitations, chain letters, pyramid schemes, investment opportunities or schemes, or other unsolicited commercial communication, or engage in spamming or flooding; or  
	</div>			 

	<div> 
		7) post or transmit any information or software which contains a virus, trojan horse, worm, or other harmful component; or 
	</div>			 

	<div> 
		8) post, publish, transmit, reproduce, distribute or in any way exploit any information, software, or other material obtained through the Service for commercial purposes (other than as expressly permitted by the provider of such information, software, or other material); or 
	</div>			 

	<div> 
		9) upload, post, publish, transmit, reproduce, or distribute in any way (other than as expressly allowed under this Agreement), information, software, or other material obtained through the Service which is protected by copyright, or other proprietary right, or derivative works with respect thereto, without obtaining permission of the copyright owner or rightholder; or 
	</div>			 

	<div>
		10) upload, post, publish, reproduce, transmit or distribute in any way (other than as expressly allowed under this Agreement) any component of the Service itself, or derivative works with respect thereto, as the Service is copyrighted as a collective work under U.S. copyright laws.  
	</div>			 
</div>
 
<div class="tandctext">
	Hilo is a distributor of content supplied by third parties and users. Hilo neither endorses nor is responsible for the accuracy or reliability of any opinion, advice, or statement made on the Hilo website by anyone other than authorized Hilo employee spokespersons while acting in their official capacities. While Hilo has no obligation to monitor the Service, you acknowledge and agree that Hilo has the right to monitor the content and use of the Service from time to time and to disclose any information as necessary or appropriate to satisfy any law, regulation or other governmental request, in order to operate the Service properly, or to protect itself or its users, as more fully set forth in our Privacy Policy. Hilo reserves the right to refuse to post, or to remove, any information or materials from the Hilo website, in whole or in part, that, in its sole discretion, are unacceptable, undesirable, inappropriate, or in violation of this Agreement. 
</div>			 


<div class="tandcheader">					
	PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT INFRINGEMENT
</div>
 
<div class="tandctext">
	Hilo, Inc. has registered a designated agent with the United States Copyright Office pursuant to the Digital Millennium Copyright Act (17 U.S.C. 512(c)) and if you believe that your copyrighted material is being used in connection with the Services without required permission, please notify our designated agent at:
	<div>
		Hilo, Inc.
	</div>
	
	<div>
		PO Box 122
	</div>
	
	<div>
		Augusta, WV 26704
	</div>
	
	<div>
		Attn: Hilo Copyright Claims
	</div>
	
	<div>
		Fax:866-338-1848 
	</div>
	
	<div>
		info@thehiloproject.com 
	</div>
</div>


<div class="tandcheader">					
	PRIVACY POLICY 
</div>
 
<div class="tandctext">
	Hilo recognizes your right to confidentiality and is committed to protecting your privacy. Our Privacy Policy describes what information is collected by the Service, how it may be used, with whom it may be shared, as well as your control over these matters. While Hilo is taking reasonable and appropriate measures to ensure that your personal information is disclosed only as set forth in the Privacy Policy, you understand and agree that the Internet is an open system and that Hilo cannot and does not guarantee that data entered by you into the Service will not be intercepted and decrypted by others. Please read in full our Privacy Policy, which may be amended from time to time. You understand that by accessing or using the Service, you agree to accept without modification the terms, conditions, and notices contained in the Hilo Privacy Policy and agree to be bound by them. If you do not agree with the rules contained in our Privacy Policy, please do not use the Service. 
</div>
 
<div class="tandcheader">
	LINKS TO THIRD PARTY SITES 
</div>
 
<div class="tandctext">
	Hilo works to provide you with a Service of the highest quality and repute that will be of the most value to you. However, the Service may contain links or interfaces that will take you to Internet sites that are not under the control of Hilo. These links or interfaces are provided by Hilo solely for your convenience and the provision of a link or interface is not an endorsement by Hilo of that site or of any content, products, services, or links to other sites offered therein. Hilo does not control, endorse, or bear responsibility for any third party sites which choose to link to the Hilo website. You access and use all such linked sites solely at your own risk, and Hilo makes no representations or warranties whatsoever regarding their content, operation or availability. Furthermore, the Hilo Privacy Policy is only applicable to the Hilo website and whenever linked to another Web site, you should read that site's privacy policy before disclosing any personal information. 
</div>
 
<div class="tandcheader">
	DISCLAIMER OF WARRANTIES 
</div>
 
<div class="tandctext">
	YOU ASSUME TOTAL RISK AND RESPONSIBILITY FOR YOUR USE OF THE SERVICE AND THE INTERNET. YOU EXPRESSLY UNDERSTAND AND AGREE THAT HILO IS PROVIDING THIS SERVICE ON AN "AS IS" BASIS, "WITH ALL FAULTS," AND MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND WITH RESPECT TO THE SERVICE, THE HILO WEBSITE, ITS CONTENTS, ITS AVAILABILITY, OR OPERATION. HILO AND ITS CONTENT AND SERVICE PROVIDERS DISCLAIM ALL SUCH REPRESENTATIONS AND WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NONINFRINGEMENT WITH REGARD TO THE SERVICE, OR ANY MERCHANDISE, INFORMATION, OR SERVICE PROVIDED THROUGH THE HILO WEBSITE OR THE INTERNET GENERALLY. IN ADDITION, HILO DOES NOT REPRESENT OR WARRANT THAT THE INFORMATION ACCESSIBLE VIA THE HILO WEBSITE IS ACCURATE, COMPLETE, CURRENT, OR FREE FROM COMPUTER VIRUSES OR OTHER HARMFUL OR DELETERIOUS EFFECTS.  THE SERVICE IS NOT A PSYCHOLOGICAL TOOL OR SERVICE, IS NOT DESIGNED TO MAKE A DIAGNOSIS OF PSYCHOLOGICAL OR PERSONALITY DISORDERS OR DISABILITIES, NOR IS IT DESIGNED FOR ANY TYPE OF CLINICAL APPLICATION.

</div>			 

<div class="tandcheader">
	LIMITATION OF LIABILITY 
</div>	
 
<div class="tandctext">
	IN NO EVENT SHALL HILO AND/OR ITS CONTENT OR SERVICE PROVIDERS BE LIABLE UNDER THIS AGREEMENT OR UNDER ANY CONTRACT, NEGLIGENCE, STRICT LIABILITY, TORT, OR OTHER LEGAL OR EQUITABLE THEORY FOR ANY DIRECT, INDIRECT, SPECIAL, EXEMPLARY, CONSEQUENTIAL, INCIDENTAL OR PUNITIVE DAMAGES WHATSOEVER, INCLUDING, BUT NOT LIMITED TO, DAMAGES RESULTING FROM LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN CONNECTION WITH THE USE, AVAILABILITY, OPERATION, OR PERFORMANCE OF THE SERVICE, EVEN IF INFORMED OF THE POSSIBILITY OF SUCH DAMAGES. HILO SHALL NOT BE LIABLE FOR ANY CLAIM ATTRIBUTABLE TO DEFECTS, DELAYS, ERRORS, OMISSIONS OR OTHER INACCURACIES IN THE SERVICE AND/OR MATERIALS OR INFORMATION DOWNLOADED THROUGH, OR LINKED TO OR FROM THE SERVICE, OR ANY ACTIONS TAKEN IN RELIANCE THEREON. YOU SPECIFICALLY ACKNOWLEDGE THAT HILO IS NOT LIABLE FOR THE DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OF THE SERVICE OR OF THIRD PARTIES, AND THAT THE RISK OF INJURY FROM THE FOREGOING RESTS ENTIRELY WITH YOU. BECAUSE SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IN SUCH STATES, THE LIABILITY OF HILO AND ITS RESPECTIVE FULFILLMENT PROVIDERS IS LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW. 
</div>
 
<div class="tandcheader">
	INDEMNIFICATION 
</div>
 
<div class="tandctext">
	You agree to indemnify, defend and hold harmless Hilo and its subsidiaries, affiliates, members, managers, directors, officers, agents, employees, licensors, suppliers, and any third party content and service providers from any and all claims, liability, expenses, damages and costs, including, but not limited to, reasonable attorneys' fees, made by any third party due to or arising out of your use of the Service, any content you submit, post to, or transmit through the Service, your connection to the Service, your violation of this Agreement, or your violation of any rights of another. 
</div>
 
<div class="tandcheader">
	THIRD PARTY RIGHTS 
</div>
 
<div class="tandctext">
	The provisions of this Agreement, including, but not limited to, the Proprietary Content, User Conduct, Disclaimer of Warranties, Limitation of Liability, and Indemnification paragraphs above, are for the benefit of Hilo and its subsidiaries, members, managers, affiliates, directors, officers, agents, employees, licensors, suppliers, and any third party content or service providers to the Service. Each of these individuals or entities shall have the right to assert and enforce those provisions directly against you on its own behalf. 
</div>
 
<div class="tandcheader">
	MISCELLANEOUS 
</div>	

<div class="tandctext">
	The Service provided by Hilo can be accessed from all 50 states of the United States, as well as from other countries around the world. As each of these places has laws that may differ, by accessing and using the Service you agree that this Agreement shall be governed and construed in accordance with the laws of the State of West Virginia without regard to the conflict of laws provisions thereof. You agree that any legal action or proceeding between Hilo and you for any purpose concerning this Agreement or the parties' obligations hereunder shall be brought exclusively in a federal or state court of competent jurisdiction in the Northern District of West Virginia, and you agree to submit to personal jurisdiction in said courts. Hilo makes no representation that any materials or other information accessible on or through the Service are appropriate or available for use in other locations, and accessing them from places where their contents are illegal is prohibited. Accessing the Service from locations outside of the 50 states of the United States is at your own risk and initiative and you are responsible for compliance with local laws. Any cause of action or claim you may have with respect to the Service must be commenced within one (1) year after the claim or cause of action arises or such claim or cause of action is forever barred, regardless of any statute or law to the contrary. 
</div>
 
<div class="tandctext">
	Failure of Hilo to insist upon or enforce strict performance of any provision of this Agreement shall not be construed as a waiver of any provision or right. Neither the course of conduct between the parties nor trade practice shall act to modify any provision of this Agreement. Hilo may assign its rights and duties under this Agreement to any party at any time without notice.
</div>
 
<div class="tandctext">
	The provisions of this Agreement are independent of and separable from each other, and no provision shall be affected or rendered invalid or unenforceable by virtue of the fact that for any reason any other or others of them may be invalid or unenforceable in whole or in part. If any portion of this Agreement is invalid or unenforceable, such portion(s) shall be limited or excluded from this Agreement to the minimum extent required, and the balance of this Agreement shall remain in full force and effect. 
</div>
 
<div class="tandcheader">
	TERMINATION 
</div>
				 
<div class="tandctext">
	This Agreement may be terminated by either party at any time for any reason without notice, and you may no longer access or use the Service after this Agreement has been terminated. Immediately upon termination, your Hilo ID and password may be deactivated and any further access to your personal data barred. The provisions of certain paragraphs above, including those on Proprietary Content, User Conduct, Limitation of Liability, Indemnification, Third Party Rights, Miscellaneous, and any others in which it is reasonable in light of their terms, shall survive termination of this Agreement. 
</div>
 
<div class="tandctext">
	Hilo reserves the right to modify, suspend or discontinue the Service itself, the Service operation, maintenance or support policies and procedures, or the Service content, at any time, temporarily or permanently, without notice. You agree that Hilo shall not be liable to you or any third party for any such modification, suspension or discontinuance. 
</div>
 
<div class="tandcheader">
	ACKNOWLEDGEMENT 
</div>
 
<div class="tandctext">
	This Agreement (together with materials incorporated by reference herein) represents the entire understanding between you and Hilo regarding use of the Service and supersedes any prior agreements, statements, or representations. By accessing or using the Service, YOU AGREE TO BE BOUND BY THIS AGREEMENT AND THE HILO PRIVACY POLICY REFERENCED HEREIN. 
</div>