<!-- Beta Access Success Popup -->
<div id="beta_success" class="white_content">
  <div class="popup-upper-block-fogetPwd">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label id="beta_success_head" class="popup-heading"><%= t('beta_success.heading') %></label>
        </div>
        <div class="access-block">
          <div class="lfloat error-text">
            <label id="beta_success_body" class="free-text"><%= t('beta_success.free_text1') %><br /><%= t('beta_success.free_text2') %></label>
          </div>
          <div class="rfloat margin-T-5px">
            <input id="beta_success_enter" type="button" class="enter-button-active" onclick="window.location = '/job_seeker/new';" />
          </div>
        </div>
      </div>

      <div class="home-popup-contnet">

      </div>
      <a href="javascript:void(0)" id="beta_success_close" class="close" onclick="window.location = '/job_seeker/new';">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>
<!-- /Beta Access Success Popup -->