<div id="gift_hilo_failure" class="white_content">
  <div class="popup-upper-block-fogetPwd">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label class="popup-heading" ><%= t('gift_hilo.gift_hilo_failure.heading') %></label>
        </div>
        <div class="access-block">
          <div class="lfloat error-text">
            <label class="free-text" >
              <%= t('gift_hilo.gift_hilo_failure.free_text') %>
            </label>
          </div>
          <div class="rfloat margin-T-5px">
            <input type="button" id="retry_button" class="retry-button-active gift_hilo_failure_button" onclick="hideErrorShadow(); $('#gift_hilo_failure').hide(); showNormalShadow(); $('#checkout_billing_info').show(); centralizePopup();" />
          </div>
        </div>
      </div>

      <div class="home-popup-contnet">

      </div>
      <a href="javascript:void(0)" class="close" onClick="hideErrorShadow(); $('#gift_hilo_failure').hide();">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>