<div id="ics_type_three" class="white_content" style="display:none; position: fixed;">
  <div class="popup-upper-block-fogetPwd">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label class="popup-heading">WELCOME!</label>
        </div>
        <div class="access-block">
          <div class="lfloat beta-error-text" style="width: 290px">
            <label class="free-text" style="text-align: justify; display: block;">An email has been sent to your specified email address. Please click on the link specified in the email to verify your account.</label>
          </div>
          <div class="rfloat margin-T-5px">
            <input type="button" id="ok_ics_three" class="ok-button-active" onclick="hideNormalShadow();$('#ics_type_three').hide();" style="margin-top:18px;" />
          </div>
        </div>
      </div>
      <div class="home-popup-contnet">
      </div>
      <a href="javascript:void(0)" class="close" onClick="hideNormalShadow();$('#ics_type_three').hide();">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>