<!-- Login Error Popup -->
  <div id="sharing_login_error" class="white_content" style="position:fixed;">
    <div class="popup-upper-block-fogetPwd">
      <span class="popup-top">&nbsp;</span>
      <div class="popup-content">
        <div class="gradient-content">
          <div class="popup-header-container">
            <label class="popup-heading">OOPS!</label>
          </div>
          <div class="access-block">
            <div class="lfloat error-text">
              <label class="free-text">The email address or password you entered is invalid. Please try again.</label>
            </div>
            <div class="rfloat margin-T-5px">
              <input type="button" id="retry_button" class="retry-button-active" />
            </div>
          </div>
        </div>

        <div class="home-popup-contnet">

        </div>
        <a href="javascript:void(0)" class="close" onClick="closeErrorShareLoginPopup();">Close</a>
      </div>
      <span class="popup-bottom">&nbsp;</span>
    </div>
  </div>
  <!-- /Login Error Popup -->
