<div id="login_error" class="white_content" style="position:fixed;">
  <div class="popup-upper-block-fogetPwd">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label class="popup-heading"><%=t("login_error.popup-heading")%></label>
        </div>
        <div class="access-block">
          <div class="lfloat error-text <%=I18n.locale%>">
            <label class="free-text"><%=t("login_error.free-text")%></label>
          </div>
          <div class="rfloat margin-T10px">
            <input type="button" id="retry_button_signi_in" class="retry-button-active <%=I18n.locale%>"  />
          </div>
        </div>
      </div>
      <div class="home-popup-contnet">
      </div>
      <a href="javascript:void(0)" id="sign_in_close" class="close" >Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>