<%=render :partial=>"youtube_video",:locals=>{:video_url=>"wr6itOBLVQA"}%>
<div class="home_content">
	
	
	
	<!---- start - video section     -->
	<div id="video-section">
		<div id="video-content">
			
			<div class="video-box-seeker">
				
				<div class="video-embed">
					
					<div id="videoDiv">
					Loading...
					</div>
					
					
			
				</div>
				<%=render :partial=>"/shared/shared_links"%>
				<br class="clear"/>
			</div>
			
			
		</div>
		
		<div class="seeker-signup-link">
			<a href="/employer/new" ><%=image_tag("signup.png")%></a>
		</div>
		<br class="clear"/>
	</div>

	
	<!---- end - video section     -->

</div>





