<div id="error_message" class="admin-error-messages"></div>
<div class="table-container admin">
  <div class="table-container-top">&nbsp;</div>
  <div class="table-container-content">
    <div class="gradient-content overflow-visible">
      <ul class="table-headings">
        <li style="width: 170px;"><a class="single first" href="javascript:void(0);" title="">Name</a></li>
        <li style="width: 200px;"><a class="single" href="javascript:void(0);" title="">Email</a></li>
        <li style="width: 150px;"><a class="single" href="javascript:void(0);" title="">Account Type</a></li>
        <li style="width: 170px;"><a class="single" href="javascript:void(0);" title="">Company</a></li>
        <li class="lastchild" style="width: 118px;"><a class="single" href="javascript:void(0);" title="">ACTION</a></li>
      </ul>
      <div class="table-content" id="table_block">
        <div class="loader"><%= image_tag("ajax-loader-login.gif") %></div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="list">
            <%=render :partial=>"employer_delete_request_table_rows" %>
        </table>
        <div id="rows_loader" style="display:none; padding-top:10px; padding-bottom:10px;"><center><%= image_tag("ajax-loader-login.gif", :alt => "Loading ...") %></center></div>
      </div>
    </div>
  </div>
  <div class="table-container-bottom">&nbsp;</div>
</div>