<div id='new_folder_div' style='display:none;'>
  <div class='group-row-bg'>
    <div class='group-row'>
      <div class='group-row-name'>
        <span class='show-content hide'> </span>
        <div style='margin-top: 2px;' class='customized-inner-input input-text-active'>
          <div style='background:url(/assets/employer_v2/inner-input-active-left_28.png) left top no-repeat; width:5px; height:28px;' class='input-left'>&nbsp;</div>
          <%#= form_tag('/position_profile/add_group', :remote=>true, :id=>'add_folder_form') do %>
          <input name='add_group_field' id='folder_name' type='text' onkeyup='addFolderEnter(event);' style='background:url(/assets/employer_v2/inner-input-active-cont_28.png) left top repeat-x;height:28px; width:187px;font-size: 15px;font-weight: 400; padding: 0 3px;' class='edit-group-name ' value='' maxlength='30'/>
          <%#end%>
          <div style='background:url(/assets/employer_v2/inner-input-active-right_28.png) left top no-repeat; width:3px; height:28px;' class='input-right'>&nbsp;</div>
        </div>
      </div>
      <div class='clear-height'></div>
    </div>
  </div>
  <div class='height10'>
  </div>
</div>
