<div class="one_click_payment_position_white_content" id="csv-error" style="display:none;position:fixed;">
        <div class="dashboard_position_popup-siteActivation">
                <span class="position_popup-top">&nbsp;</span>
                <div class="position_popup-content_oneclick">
                        <div class="position_gradient-content_oneclick">
                                <div class="position_popup-header-container">
                                        <label class="popup-heading">OOPS!</label>
                                </div>
                                <div class="position_popup_select_box">
                                    <div class="access-block">
                                    <div class="lfloat error-text" style="width:80%;">
                                      <label class="free-text">Parser encountered illegal CSV formatting. Please try again.</label>
                                    </div>
                                    <div class="rfloat margin-T-5px" id="action-button" style="margin-left:0px;margin-top:0px">
                                      <input type="button" id="retry-button" class="retry-button-active" onclick="$('#csv-error').hide(); $('#fade_error').hide();footerOnClosingPopup();"/>
                                    </div>
                                    </div>
                                </div>
                         </div>
                         <a id="oneclick-close" onclick="$('#csv-error').hide(); $('#fade_error').hide();footerOnClosingPopup();" href="javascript:void(0)" class="position_close_oneclick">Close</a>
                </div>
                <span class="position_popup-bottom">&nbsp;</span>
        </div>
</div>
