<div class="folder-box new close">
  <div class="top">
    <span class="user-name">
      <div class="customized-inner-input input-text-active">
        <div style="background:url(/assets/employer_v2/inner-input-active-left_28.png) left top no-repeat; width:5px; height:28px;" class="input-left">&nbsp;</div>
        <input onkeyup="add_folder_reassign_check_enter(event);" type="text" style="background:url(/assets/employer_v2/inner-input-active-cont_28.png) left top repeat-x;height:28px; width:150px;font-size: 15px;font-weight: 400; padding: 0 3px;" value="" id="add_folder" name="" maxlength="30" />
        <div style="background:url(/assets/employer_v2/inner-input-active-right_28.png) left top no-repeat; width:3px; height:28px;" class="input-right">&nbsp;</div>
      </div>
    </span>
  </div>
  <div class="slide">
    <div class="middle">
      <ul></ul>
    </div>
    <div class="bottom"></div>
  </div>
</div>