<!--Footer start-->
<div id="dashboard-footer">
  <div class="footer-content">
          <ul class="float-right">
                  <li><a title="About Hilo" href="javascript:void(0)" onclick="showAboutHilo();footerOnOpeningPopup();">Company</a><span class="sepration">|</span></li>
                  <li><a title="Terms of Use" onclick="showTermsPopup();centralizePopup();footerOnOpeningPopup();" href="javascript:void(0)">Terms of Use</a><span class="sepration">|</span></li>
                  <li class="lastChlid"><label class="lblftrclr">Hilo. Inc. &copy; 2012</label></li>
          </ul>
          <div class="clear-height">&nbsp;</div>
        
  </div>
</div>
<!-- Footer end-->
