    <div id="privacy_policy" class="white_content">
                                    <div class="popup-siteActivation privacy-policy">
                                            <span class="popup-top">&nbsp;</span>
                                            <div class="popup-content">
                                                    <div class="gradient-content" >
                                                            <div class="popup-header-container margin-B-10px">
                                                                    <label class="popup-heading">PRIVACY POLICY</label>
                                                            </div>
                                                            <div class="privacy-text" style="height:400px; overflow-y:auto;>
                                                              <p class="privacy-text">
                                                              
                                                              <div>
      <div class="tandcheader privacy-heading-align">Hilo, Inc. Privacy Policy</div>
      </div>
      <div class="tandctext"> Overview </div>
      <div class="tandctext"> Hilo, Inc. ("Hilo"), in providing the Hilo website and related online services, cares about protecting your privacy and understands that you care how information about you is used and shared. This notice (this "Privacy Policy") describes how we may collect and use personal information about you, with whom we may share it, what choices you have regarding it, and how we protect it. This Privacy Policy is incorporated into and made a part of the Career Seeker User Agreement governing the use of Hilo online services (the "Service"). We encourage you to become familiar with our privacy practices, as stated below. By accessing and using the Service, you agree that you have read and understand this Privacy Policy and you accept and consent to the privacy practices described below. </div>
      <div class="tandcheader"> What Information Do We Collect? </div>
      <div class="tandctext"> Hilo may collect various types of information from or about you through or in connection with the Service. For example: </div>
      <div class="tandctext"> 1) When you create an account with us, you supply us with basic contact information (such as your name, telephone numbers, zip code and e-mail address). If you create an account that is associated with a social networking service, such as Twitter or Facebook, we may also collect certain information used to identify your account with such services. </div>
      <div class="tandctext"> 2) When you enter pairing profile data, you supply us with information about your requirements and qualifications for a position (such as compensation, commuting requirements, education, experience and skills), which may be useful in matching you with specific opportunities. </div>
      <div class="tandctext"> 3) When you complete the personality questionnaire, you supply us and our third-party testing provider with contact information, information about your qualifications, and responses to a series of questions designed to elicit information about your personality and your interests. </div>
      <div class="tandctext"> 4) When you complete the site activation process, we collect payment information (including contact information and credit card information). By supplying us with this information, we can complete your purchase of any products or services you choose to receive and pay for. </div>
      <div class="tandctext"> In addition, if you correspond or communicate with Hilo or its customer service representatives, Hilo may retain the content of and metadata regarding that correspondence and communication, regardless of the mode or medium by which it was made. This information helps Hilo to improve the Service and the materials, products, and services that we offer through the Service, and to more effectively and efficiently respond to both current and future inquiries. </div>
      <div class="tandctext"> As with many other Web sites, the Web servers used to operate the Service collect certain data pertaining to you and the equipment and communications method that you use to access the Internet and the Service. Without combining these data with other sources of information, they do not readily identify you. They do reveal such things as the Internet protocol ("IP") address assigned to a computer, the specific pages accessed on the Service, the universal resource locator ("URL") of the Web page viewed immediately prior to visiting the Service, and the approximate amount of time spent at the Service. This information is collected to, among other things; facilitate Service operation and system administration, to generate aggregate, non-identifiable statistical information regarding Service activity and use, and to improve content and content delivery with regard to the Service and the materials, products, and services that we make available on the Service. </div>
      <div class="tandctext"> Hilo also uses "cookies" (small text files stored on your computer) to help track and customize your access to and use of the Service. Cookies store and retain information that helps us recognize you when you return to the Service following a previous visit. Cookies may also store any logon or ID that may be created or assigned to you by Hilo and the associated password, although this information is stored on your computer in encrypted form. Most popular Internet browsers allow you to configure them so as not to accept cookies. However, setting your browser to reject cookies may prevent you from taking full advantage of the Service and the materials, products, and services that Hilo makes available on the Service. </div>
      <div class="tandcheader"> How Do We Use The Information That We Collect? </div>
      <div class="tandctext"> In addition to the uses mentioned or described above, Hilo uses the information that it collects from or about you to improve the materials, products, and services that are made available on the Service, to notify you of changes made to the Service or of new products or services that are made available on or through the Service, to evaluate your needs and customize the Service content that is delivered to you, to facilitate the processing of any purchases you make through the Service and the delivery of our products and services to you, and for other legitimate and lawful business purposes of Hilo. Hilo may make information you have provided available, on a confidential basis, to its third-party services providers for the purposes of assisting Hilo in its own internal processing and use of such information. Among other service providers, Hilo makes this your questionnaire information available to its third party testing company for purposes of providing the Service. </div>
      <div class="tandctext"> Hilo does not otherwise share personally identifiable information collected about you with third parties, except that we may combine or aggregate personal information about you, in de-identified form (that is, in a form that does not personally or individually identify you), with other data regarding our products, services, or other customers and use the resulting aggregated information for various purposes, including sharing it with our customers and with third parties. For example, we may aggregate your information with other users so that we can provide certain statistics about our user community to advertisers, employers and others. </div>
      <div class="tandctext"> It is our policy not to sell lists containing personal information about Service users, registrants, or subscribers, and we do not share credit card or other financial information about you except as necessary to deliver, bill, and collect for the products or services that you purchase or subscribe to through the Service. </div>
      <div class="tandcheader"> What Choices Do You Have? </div>
      <div class="tandctext"> You may update at any time the registration information that you entered in subscribing to any of the products or services that we offer through the Service. By contacting or sending a request to us at the numbers or addresses given below, you may also ask us to remove your name from our list of Service users who wish to receive communications from Hilo. Once you opt-out through such a request, we will honor your choice until you inform us otherwise. Please remember, however, that if we have already shared information about you pursuant to your registration or participation in services offered by our third party service providers, such service providers may further use that information and you will need to contact them directly in that regard. </div>
      <div class="tandctext">
      <div>
      E-mail:
      <a href="mailto:info@thehiloproject.com">info@hiloproject.com</a>
      </div>
      <br>
      <div> Hilo, Inc. </div>
      <div> Attn: Customer Support </div>
      <div> Facsimile: 866-338-1848 </div>
      <div> Email: info@thehiloproject.com </div>
      </div>
      <div class="tandcheader"> How Do We Protect Information Collected About You? </div>
      <div class="tandctext"> Hilo places a high value on protecting personal information transmitted through the Service. For this reason, we use advanced security solutions, including 128-bit secure sockets layer ("SSL") encryption technology, to process payments and to help provide secure communications. In addition, the Service is protected by a firewall that provides a high degree of security. However, while Hilo takes commercially reasonable measures to secure and protect customer-specific information transmitted through or stored on our Service, no security system is impenetrable and communications over the Internet may be intercepted. Therefore, we cannot guarantee that personal information supplied by users of the Service will be totally secure. </div>
      <div class="tandcheader"> Changes to Privacy Policy </div>
      <div class="tandctext"> From time to time, Hilo may change its privacy practices because of changes in the relevant and applicable legal or regulatory requirements, in our business or business practices, or in our attempts to better serve your needs. In the event of such a change to our privacy practices, notice will be given in the manner described in the Terms of Use for the Service and a revised Privacy Policy will be posted on the Service. </div>
      <div class="tandcheader"> Business Transfers </div>
      <div class="tandctext"> As Hilo continues to grow and develop its business, it is possible that its entity structure might change or that Hilo might merge or otherwise combine with, or that substantially all of its assets might be acquired by, another company. In any such transactions, customer information generally is, most probably will be, and should be expected to be, among the transferred business assets. </div>
      <div class="tandcheader"> Linked Services </div>
      <div class="tandctext"> For your convenience, some hyperlinks or other interfaces may be posted on the Service that link to other Web sites not under the control of Hilo. We are not responsible for, and this Privacy Policy does not apply to, the privacy practices of those sites. We encourage you to seek out and read the privacy policy of any Web site that you visit. In addition, when you initiate a transaction on another Web site, even if you reached that site through a link posted on our Service, the information that you submit to complete that transaction becomes subject to the privacy practices of that Web site. You should read the privacy policy of that site to understand how personal information that it collects is used, shared, and protected. Hilo is not responsible for the privacy or information practices of its suppliers or business associates or of any third-party Web sites. </div>
      <div class="tandcheader"> Who Can You Contact For More Information? </div>
      <div class="tandctext"> Please direct any other questions regarding our privacy practices or this Privacy Policy to Hilo at info@hiloproject.com. </div>
      <div class="tandcheader"> Acknowledgement </div>
      <div class="tandctext">
      YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTAND AND CONSENT TO THE PRIVACY PRACTICES DESCRIBED IN THIS PRIVACY POLICY AND AGREE TO BE BOUND BY THE CAREER SEEKER USER AGREEMENT.
      <div> Last updated March 31, 2011 </div>
      <div>Hilo, Inc. &copy; 2012, All rights reserved.</div>
      </div>
                                                              
                                                              </p>
                                                            </div>
                                                    </div>            
                                                    <a href="javascript:void(0)" class="close" onClick="hidePrivacyPopup();">Close</a>
                                            </div>
                                            <span class="popup-bottom">&nbsp;</span>
                                    </div>  
                            </div>