<div class="user-box drop-down close"><!-- Use class [open] or [close] -->
  <div class="top">
    <span class="user-name"><%=t ("user_admin.position_reassign.user_admin_dropdown.title") %></span>
  </div>
</div>
<%= render :partial=>'shared/employer/user_list'  %>