<div class="account-right">
	
	<div class="market-box-cover">
		<div class="market-left-curve"><img src="/assets/whitecorner_left_top.png"/></div>
		<div class="market-top-line"></div>
		<div class="market-right-curve"><img src="/assets/whitecorner_right_top.png" /></div>
		<div class="market-box-clear"></div>
	</div>
	
	<div class="market-content-box">
		<div class="market-content">
			<div class="head">
				In this version of the Hilo Project
			</div>

			<div class="marketing-copy-text">
				
				<div class="market-hilo-label">
					Download your customized Career Forward Guide and...
				</div>

				<div class="height5">&nbsp;</div>

				<div>
					&nbsp;&nbsp;-&nbsp;&nbsp;discover your ideal Work Environment
				</div>

				<div>
					&nbsp;&nbsp;-&nbsp;&nbsp;find the attributes of your best possible Role
				</div>

				<div>
					&nbsp;&nbsp;-&nbsp;&nbsp;better understand your strength & stress behaviors
				</div>

				<div>
					&nbsp;&nbsp;-&nbsp;&nbsp;have ready insightful questions & answers for your next interview
				</div>

				<div class="height10">&nbsp;</div>

				<div>
					Explore the Career Pairing System (Demo Mode only).
				</div>

				<div class="height10">&nbsp;</div>
				
				<div>
					Set up your Employer Introduction Page & see how Employers will learn about YOU.
				</div>

				<div class="height10">&nbsp;</div>

				<div>
					Already taken the Birkman Questionnaire? No problem, use our new Birkman ID passthrough feature.
				</div>

				
			</div>

		</div>
	</div>

	<div class="market-box-cover">
		<div class="market-left-curve"><img src="/assets/whitecorner_left_bottom.png"/></div>
		<div class="market-bottom-line"></div>
		<div class="market-right-curve"><img src="/assets/whitecorner_right_bottom.png" /></div>
		<div class="market-box-clear"></div>
	</div>
	
	<div class="height10">&nbsp;</div>
	<div class="height10">&nbsp;</div>

	<div>
		<div>
			<b>"The Career Forward Guide is really useful. I'm just out of college and it helped me a lot with my last interview."</b>
		</div>

		<div class="pos-right" style="margin-right: 20px;">
			Sara, Houston TX
		</div>
		<br class="clear-height"/>
	</div>


</div>
