<div class="account-right">
	<div class="section-intro">
		Job Seeker Terms of Service and Privacy Policy:
	</div>
	<div class="account-field-section">
		<div class="wizard-term-privacy">
			<div style="padding: 10px;">
				<%=render :partial=>"/shared/tandc_text"%>
			</div>
		</div>

		
		<div style="float:right;padding-top:8px;">
			<a href="javascript:void(0);" onclick="window.open('/home/privacy','privacy','height=400px,width=500px,scrollbars=yes');" title="print"><img src="/assets/printer.gif"/></a>
		</div>
		<br class="clear"/>
	</div>

</div>
<div class="clear"></div>