<div >
	<div class="section-intro">Employer Contact Info:</div>
	<div>
		How would you like to be contacted by a potential employer?
	</div>
	<br/>
	<div class="field-height">
		<div class="field-label-mid">Phone 1:</div>
		<div class="field-text-box">
			<%=j.text_field :phone_one,:class=>"field-text input-field-style date-auto-format"%>
		</div>
		<br class="clear"/>
	</div>

	<div class="field-height">
		<div class="field-label-mid">Phone 2:</div>
		<div class="field-text-box">
			<%=j.text_field :phone_two,:class=>"field-text input-field-style date-auto-format"%>
		</div>
		<br class="clear"/>
	</div>

	<div class="field-height">
		<div class="field-label-mid">Email:</div>
		<div class="field-text-box">
			<%=j.text_field :contact_email,:class=>"field-text input-field-style"%>
		</div>
		<br class="clear"/>
	</div>
</div>