<div class="ques-birkman-logo">
	<div class="ques-birkman-left">
		<a href="javascript:void(0);" onclick="birkman_msg.init();"><img src="/assets/powered_by_birkman.jpg"/></a>
	</div>
	<div class="ques-birkman-right">
		<%=render :partial =>"/shared/birkman_copy_right" -%>
	</div>
	<div class="clear-height">&nbsp;</div>
</div>