<div id="our_latest_video" class="white_content" style="top: 8%; position: fixed; overflow: visible;">
  <div style="width: 720px">
    <% if @video_id == "1" %>
      <iframe style="box-shadow: 0px 0px 30px #000000; background: black;" onload="$('#fade_normal_dark .popup-loader').hide();" src="https://player.vimeo.com/video/47469621" width="700" height="525" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <div style="color: white;"><center><a style="color: white; text-decoration: underline;" href="https://vimeo.com/47469621" target="_blank">Click Here</a> to view on Vimeo</center></div>
    <% elsif @video_id == "2" %>
      <iframe style="box-shadow: 0px 0px 30px #000000; background: black;" onload="$('#fade_normal_dark .popup-loader').hide();" src="https://player.vimeo.com/video/48395850" width="700" height="525" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <div style="color: white;"><center><a style="color: white; text-decoration: underline;" href="https://vimeo.com/48395850" target="_blank">Click Here</a> to view on Vimeo</center></div>
    <% elsif @video_id == "3" %>
      <iframe style="box-shadow: 0px 0px 30px #000000; background: black;" onload="$('#fade_normal_dark .popup-loader').hide();" src="https://player.vimeo.com/video/47469621" width="700" height="525" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <div style="color: white;"><center><a style="color: white; text-decoration: underline;" href="https://vimeo.com/47469621" target="_blank">Click Here</a> to view on Vimeo</center></div>
    <% elsif @video_id == "4" %>
      <iframe style="box-shadow: 0px 0px 30px #000000; background: black;" onload="$('#fade_normal_dark .popup-loader').hide();" src="https://player.vimeo.com/video/51052388" width="700" height="525" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <div style="color: white;"><center><a style="color: white; text-decoration: underline;" href="https://vimeo.com/51052388" target="_blank">Click Here</a> to view on Vimeo</center></div>
    <% end %>
  </div>
</div>

<%#*<iframe class="youtube-player" type="text/html" width="549" height="334" src="https://www.youtube.com/embed/XnF7PcuqIis?wmode=transparent&rel=0" frameborder="0"></iframe>%>
<%#*<iframe src="http://docs.google.com/viewer?url=http%3A%2F%2Finfolab.stanford.edu%2Fpub%2Fpapers%2Fgoogle.pdf&embedded=true" width="900" height="1000" style="border: none;"></iframe>%>
<%#*<embed width="968" height="920" type="application/pdf" src="http://www.free-ebooks.net/ebook/Dark-Earth/pdf?dl&amp;preview">%>
<%#*<noembed>%>
<%#*You currently don't have Adobe Reader installed. In order to view this file, please download Adobe Reader from &lt;a href="http://get.adobe.com/reader/" target="_blank"&gt;here&lt;/a&gt;. Or, if you want to download the PDF file to your computer, please click &lt;a href="http://www.free-ebooks.net/ebook/Dark-Earth/pdf"&gt;here&lt;/a&gt;.%>
<%#*</noembed>%>