<div id="ajax_payment_error" class="white_content">
  <div class="popup-upper-block-fogetPwd">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label class="popup-heading"><%= t('ajax_payment_error.heading') %></label>
        </div>
        <div class="access-block">
          <div class="lfloat error-text">
            <label class="free-text"><%= t('ajax_payment_error.free_text') %></label>
          </div>
          <div class="rfloat margin-T-5px">
            <input id="ajax_payment_error_button" type="button" class="retry-button-active" onclick="hideAjaxPaymentErrorPopup();" />
          </div>
        </div>
      </div>

      <div class="home-popup-contnet">

      </div>
      <a href="javascript:void(0)" class="close" onClick="hideAjaxPaymentErrorPopup();">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>