<div id="are_you_sure_popup" class="white_content" style="position: fixed;">
  <div class="popup-upper-block-auth">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label class="popup-heading"><%= t('are_you_sure_popup.heading') %></label>
        </div>
        <div class="access-block">
          <div class="lfloat error-text" style="width: 355px;">
            <label class="free-text">
              <%= t('are_you_sure_popup.free_text1') %>
            </label>
          </div>
          <div class="rfloat" style="margin-top: 33px;">
            <input type="button" id="are_you_sure_popup_continue_button" class="continue-button-active-blue rfloat" />
            <input type="button" class="popup_btn-save active" id="are_you_sure_popup_button" style="margin-right: 8px;" />
          </div>
        </div>
      </div>
      <a href="javascript:void(0)" class="close">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>