<!-- Login Error Popup -->
<div id="login_error" class="white_content" style="position:fixed;">
  <div class="popup-upper-block-fogetPwd">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label class="popup-heading"><%=t ("login_failure_popup.title") %></label>
        </div>
        <div class="access-block">
          <div class="lfloat error-text">
            <label class="free-text"><%=t ("login_failure_popup.content") %></label>
          </div>
          <div class="rfloat margin-T-5px">
            <input type="button" class="retry-button-active" onclick="hideErrorLogin(); showLoginBox();" />
          </div>
        </div>
      </div>
      <div class="home-popup-contnet">
      </div>
      <a href="javascript:void(0)" class="close" onClick="hideErrorLogin();"><%=t ("login_failure_popup.close") %></a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>
<!-- /Login Error Popup -->