<div class="popup-upper-block-questionnaire">
  <span class="popup-top">&nbsp;</span>
  <div class="popup-content">
    <div class="gradient-content">
      <div class="popup-header-container">
        <label class="popup-heading">CHOOSE FILE TO UPLOAD</label>
      </div>
      <div class="access-block">
        <div class="lfloat error-text margin-T15px margin-B-10px">
        <%= form_for @job_seeker, :url => { :controller=>"account", :action => "upload_resume" }, :html => { :multipart => true, :id=>"js-resume", :name=>"js-resume" } do |j| %>
                                    <%= j.file_field :resume, :onchange=>"submitResume();" %>
                                    <!--<input type="submit" id="res_submit" value="Submit" />-->
        <% end %>
        <iframe id='upload_frame' name="upload_frame" style="display:none" src="about:blank"></iframe>
        
        <%= form_for @job_seeker, :url => { :action => "upload_photo" }, :html => { :multipart => true, :id=>"js-photo", :style=>"margin-top:-25px;"} do |j| %>
            <%= j.file_field :photo, :onchange=>"submitPhoto();" %>        
        <%end%>
        <iframe id='upload_photo' name="upload_photo" style="display:none" src="about:blank"></iframe>
          
        </div>
        <div class="rfloat margin-T-5px">
          
        </div>
      </div>
    </div>

    <div class="home-popup-contnet">

    </div>
    <a href="javascript:void(0)" class="close" onClick="$('#file_upload_ie').empty();$('#file_upload_ie').hide();hideNormalShadow();">Close</a>
  </div>
  <span class="popup-bottom">&nbsp;</span>
</div>
