<div class="tab-green-left">
</div>
<div class="tab-green-center <%=class_name%>">
	<div><%=header_text%></div>
</div>
<div class="tab-green-right"></div>
<div class="clear-height"></div>
<div class="tab-green-bottom-border"></div>
