<div id="sample-intro" class="detiled_content">
  <div class="sample-intro">
    <div class="popup-top"></div>
    <div class="popup-content">
      <div class="gradient-content">
        <%= image_tag("Profile_4_preview_popup.png") %>
      </div>

      <a href="javascript:void(0)" class="close" onClick="$('#sample-intro').hide();hideNormalShadow();">Close</a>
    </div>
    <div class="popup-bottom">&nbsp;</div>
  </div>
</div>