
<div class="popup-upper-block-fogetPwd">
  <span class="popup-top">&nbsp;</span>
  <div class="popup-content">
    <div class="gradient-content">
      <div class="popup-header-container">
        <label class="popup-heading">OOPS!</label>
      </div>
      <div class="access-block">
        <div class="lfloat error-text">
          <label class="free-text">Please verify your old password.</label>
        </div>
        <div class="rfloat margin-T-5px">
          <input id="old_pass_mismatch_button" type="button" class="retry-button-active" onclick="resetForgotPassword();" />
        </div>
      </div>
    </div>

    <div class="home-popup-contnet">

    </div>
    <a href="javascript:void(0)" class="close" onClick="resetForgotPassword();">Close</a>
  </div>
  <span class="popup-bottom">&nbsp;</span>
</div>
