<div class="acc-tabs">
	<div class="acc-box">
		<div><img src="/assets/acc-tab-active.png"/></div>
		<div class="acc-active-text"><a href="javascript:void(0);" class="account_pairing_tab">Personality</a></div>					
	</div>
	<div class="acc-divider">&nbsp;</div>
	<div class="acc-box-inactive">
		<div><img src="/assets/acc-tab-active.png"/></div>
		<div class="acc-inactive-text"><a href="javascript:void(0);" class="account_pairing_tab">The Basics</a></div>
	</div>
	<div class="acc-divider">&nbsp;</div>
	<div class="acc-box-inactive">
		<div><img src="/assets/acc-tab-active.png"/></div>
		<div class="acc-inactive-text"><a href="javascript:void(0);" class="account_pairing_tab">Credentials</a></div>
	</div>
</div>

<div class="dummy-acc-block">
	<div class="acc-box-dummy">&nbsp;</div>
	<div class="acc-divider-dummy">&nbsp;</div>

	<div class="acc-box-dummy tab-box-dummy-inactive">&nbsp;</div>
	<div class="acc-divider-dummy">&nbsp;</div>

	<div class="acc-box-dummy tab-box-dummy-inactive">&nbsp;</div>
	<div class="dummy-acc-pairing-left">&nbsp;</div>
	<div class="dummy-acc-right"></div>
</div>
