<div class="popup-upper-block-fogetPwd">
  <span class="popup-top">&nbsp;</span>
  <div class="popup-content">
    <div class="gradient-content">
      <div class="popup-header-container">
        <label class="popup-heading"><%= t('update_emailexist_error_popup.heading') %></label>
      </div>
      <div class="access-block">
        <div class="lfloat error-text">
          <label class="free-text"><%= t('update_emailexist_error_popup.free_text') %></label>
        </div>
        <div class="rfloat margin-T-5px">
          <input id="update_emailexist_error_popup_button" type="button" class="retry-button-active" onclick="resetUpdateEmail();" />
        </div>
      </div>
    </div>

    <div class="home-popup-contnet">

    </div>
    <a href="javascript:void(0)" class="close" onClick="resetUpdateEmail();">Close</a>
  </div>
  <span class="popup-bottom">&nbsp;</span>
</div>
