<!--header-->
	<%=render :partial=>"account_tab",:locals=>{:step=>"account"}%>
<!--/header-->

<div id="content-container">
    <!--content-container-top-->
    <div class="content-container-top">&nbsp;</div>
        <!--container-shadow-box-->
    <div class="container-shadow-box">
            <!--dark-paper-container-->
        <div class="dark-paper-container">
            		
            <div id="siteActivation-account">
                <div class="top-bar">&nbsp;</div>
                <div class="block-inner-content">
            		<!--inner backgound starts-->
                    <div class="gradient-content">
                        <div class="siteActivation-account-billing-left">
			    <div class="page-heading-container">
				<label class="heading">BILLING INFORMATION</label>
		    	    </div>
		            <div class="billing-message">
                                <label>You have configured </label>
	        		<span class="last-payment-option"><img src="images/master-card.png" alt="Master Card" height="25" width="42" /></span>
				<label>as a one click payment option</label>
		            </div>
		    	</div>	
		            <!--/siteActivation-account-billing-left -->
					
		    	<div id="siteActivation-account-billing-center-border"></div>
					
        		<div class="siteActivation-account-billing-right">
			    <div class="page-heading-container">
				<label class="heading">PERSONAL INFORMATION</label>
			    </div>            		
                    	    <div class="customized-input input-text">
                                <div class="input-left">&nbsp;</div>
                                <input type="text" value="Michael" class="text-short" />
                                <div class="input-right">&nbsp;</div>
                            </div>
                            <div class="customized-input input-text">
                                <div class="input-left">&nbsp;</div>
                                <input type="text" value="Turri" class="text-short-right" />
                                <div class="input-right">&nbsp;</div>
                            </div>
                            <div class="customized-input input-text">
                                <div class="input-left">&nbsp;</div>
                                <input class="text-long" type="text" value="text@test.com">
                                <div class="input-right">&nbsp;</div>
                            </div>
                            <div class="input-right">
                                <input class="update-button-active rfloat" type="button" value="">
                            </div>
			</div>
						
                        <div class="siteActivation-account-billing-right">                   	
			    <div class="page-heading-container-change">
                                <label class="heading">CHANGE PASSWORD</label>
			    </div>
                            <div class="customized-input input-text">
                                <div class="input-left">&nbsp;</div>
                                <input class="text-long" type="text" value="Old Password">
                                <div class="input-right">&nbsp;</div>
                            </div>
                            <div class="customized-input input-text">
                                <div class="input-left">&nbsp;</div>
                                <input type="text" value="New Password" class="text-short" />
                                <div class="input-right">&nbsp;</div>
                            </div>
                            <div class="customized-input input-text">
                                <div class="input-left">&nbsp;</div>
                                <input type="text" value="Confirm New Password" class="text-short-right" />
                                <div class="input-right">&nbsp;</div>
                            </div>
                            <div class="input-right">
                                <input class="update-button rfloat" type="button" value="">
                            </div>
			</div>	
					<!--/siteActivation-account-billing-right -->
		    </div>
				<!--/inner backgound starts-->
		</div>
			<!--/block-inner-content-->
		<div class="bottom-bar">&nbsp;</div>
            </div> 
          <!--/siteActivation-account-->
                    
        </div>
                <!--/dark-paper-container-->
    </div>
                <!--/container-shadow-box-->
</div>
            <!--/content-container-->