<div class="account-box-cover">
	<div class="account-left-curve"><img src="/assets/bluecorner_left_top.png"/></div>
	<div class="account-top-line"></div>
	<div class="account-right-curve"><img src="/assets/bluecorner_right_top.png" /></div>
	<div class="account-box-clear"></div>
</div>