<div class="account-box-cover">
	<div class="account-left-curve"><img src="/assets/bluecorner_left_bottom.png"/></div>
	<div class="account-bottom-line"></div>
	<div class="account-right-curve"><img src="/assets/bluecorner_right_bottom.png" /></div>
	<div class="account-box-clear"></div>
</div>