<div class="pairing-box-cover">
	<div class="pairing-left-curve"><img src="/assets/bluecorner_left_top.png"/></div>
	<div class="pairing-top-line"></div>
	<div class="pairing-right-curve"><img src="/assets/bluecorner_right_top.png" /></div>
	<div class="pairing-box-clear"></div>
</div>