/* added for new structure*/

#tab-content{height:auto; overflow:hidden; sbackground:url("/assets/employer/innerContainer_bg.gif") left top repeat-y;}
#tab-content .tab-content-top{sbackground:url("/assets/employer/innerContainer_top_bg.png") left top no-repeat; width:990px; height:18px;}
#tab-content .tab-content-bottom{background:url("/assets/employer/innerContainer_bottom_bg.gif") left top no-repeat; width:990px; height:23px;}
.group-row-bg{background-image: url("/assets/employer/closed_button_grey.png"); background-repeat: no-repeat; width: 234px; height: 35px;/*padding: 8px 0px 0px 8px;*/ font-size: 14px;}
.group-row-bg-selected{background-image: url("/assets/employer/closed_button_flat.png") !important; background-repeat: no-repeat;}
.group-row-name{width: auto; margin: 1px 2px 0 0; float:left;}
.group-row-name form{float:left}
.group-row-arrow{float: right; width: 7px; margin: 10px 15px 0px 0px;}
.group-row-arrow img.down{float:left; margin-top:5px;}
.group-row-drag{display:none; float:right; margin:8px 7px 0 0; width:21px;}
.group-row-drag a{float:right; color: red; font-size:11px; margin:0 3px; background:url("/assets/employer_v2/img_delete.png") left top no-repeat; text-indent: -99999px; height:20px; width:21px;}
.group-row-drag img{float:right; cursor:pointer; margin:3px 0 0 0; cursor: move;}
.group-section{min-height: 20px; background-image: url("/assets/employer/open_button_bg.png"); background-repeat: repeat-y; width:230px; padding:3px 2px 0; clear:both; float:none;}
.group-section div{cursor: move; height:auto; overflow:hidden; font-weight:400;}
div.folder_add_position {
    background: url("/assets/employer_v2/add_folder_seperator.png") no-repeat scroll 6px 0 #F6F6F6;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
    padding: 6px 12px 0 2px;
    text-align: right;
    text-transform: uppercase;
    width: 220px;
    clear: both;
}
div.folder_add_position a:hover { text-decoration: none; }
.group-section-job{width: auto; padding:0 0 3px 12px;}
.group-section-job a{display:block; margin-top:4px;}
.group-section-job a:hover{text-decoration: none;}
.left-menu-job{float:left}
.left-menu-job-delete{float:right; margin-right: 10px;}
.left-menu-job-dupliacte{float:right; margin-right: 10px;}
.left-menu-job-delete a{float:right; color: red; font-size:11px; margin:0; background:url("/assets/employer_v2/img_delete.png") left top no-repeat; text-indent: -99999px; height:17px; width:18px; display: none; margin-top:3px;}
.left-menu-job-dupliacte a{float:right; color: red; font-size:11px; margin:0; background:url("/assets/employer_v2/duplicate-icon.png") left top no-repeat; text-indent: -99999px; height:18px; width:18px; display: none; margin-top:3px;}
/* added for sref table */
.xref-table{font-size:11px; margin-bottom:20px;}
.xref-table tr th{background:#edf0f5; border-bottom:1px solid #b5b5b5; padding:10px;}
.xref-table tr td{border-top:2px solid #fff; padding:5px; text-align:center; background:#f6f6f6;}
.xref-table tr.alt-row td{background:#ebeff0;}

.light-header-left{float: left; width: 5px; height:23px; background: url("/assets/lighttab_left.png") no-repeat;}
.light-header-center{float: left; height:23px; font-weight: bold; font-size: 12px; background: url("/assets/lighttab_center.png") repeat-x;}
.light-header-right{float: left; width: 5px; height: 23px; background: url("/assets/lighttab_right.png") no-repeat;}
.detail-comparison-close{float: right;}
.detail-comparison-close a{color: #ffffff; font-size: 11px;}
.job-pay-box{background-color:#FFFFFF; border-left: 1px solid #EFEFEF; border-right: 1px solid #EFEFEF; border-bottom: 1px solid #EFEFEF; width:695px; margin-bottom:20px;}
.pay_for_msg {font-weight: bold; padding-bottom: 10px; padding-top: 10px;}
.light-custom-left-curve {float: left; width: 6px;}
.jobview-pay-coverline {width: 653px;}
.light-custom-top-line {background-color: #F8FBFB; float: left; font-size: 1px; height: 6px;}
.light-custom-right-curve {float: right; width: 6px;}
.light-custom-clear {background-color: #F8FBFB; clear: both;}
.transaction-type-box {background-color: #F8FBFB; padding: 5px;}
.light-custom-bottom-line {background-color: #F8FBFB; float: left; font-size: 1px; height: 6px;}
.payment-opt-box {float: left; width: 218px;}
.field-height {height: 30px;}
.pay-field-label {float: left; margin-top: 2px; width: 85px;}
.pay-field-text-box {float: left;}
.reg-field-select {background-color: #F6FAFB; border: 1px solid #C0E1DC; color: #000078;}
.field-text {width: 170px;}
.reg-field-text-box {float: left; width: 240px;}
.reg-field-label {float: left; margin-top: 5px; width: 130px;}
.intro-right-content{background:url("/assets/employer/myintro-content-top.gif") left top no-repeat; height:10px; width:698px; padding-top:6px; height:auto; overflow:hidden;}
.intro-right-content .myintro-content{padding:10px 20px 20px 15px; background:url("/assets/employer/myintro-content.gif") left top repeat-y; width:663px; height:auto; overflow:hidden;}
.intro-right-content .myintro-content .myintro-name{font-size:18px;}
.intro-right-content .myintro-content-bottom{background:url("/assets/employer/myintro-content-bottom.gif") left top no-repeat; height:25px; width:698px; padding-top:5px; height:auto; overflow:hidden;} /*padding-top:25px*/



.profile_overview_content .intro-right-content .myintro-content{padding:10px 20px 0px 15px;}

.tab_innerblock_heading{font-size:14px; font-weight:bold; display:block;}
.myintro-list{list-style:none; list-style-type:none; margin-top:20px;}
.myintro-list li{padding:5px 0; height:auto; overflow:hidden;}
.myintro-list li label{float:left; width:125px;}

a.addMore{float:left; margin-left:10px; line-height:18px;}
.res_input_container{margin-top:20px;}

.overview_pos_daily_resp{float: left; height:auto; overflow:hidden; background:url("/assets/employer/white_container_bg_368.gif") left top repeat-y; width:368px;}
.overview_pos_daily_resp .overview_pos_daily_resp_top{background:url("/assets/employer/white_rounded_top_368.gif") left top no-repeat; width:368px;}
.overview_pos_daily_resp .overview_pos_daily_resp_bottom{background:url("/assets/employer/white_rounded_bottom_368.gif") left bottom no-repeat; width:368px;}
.overview_pos_daily_resp .overview_pos_daily_resp_content{height:auto; overflow:hidden; padding:10px 20px 0 15px; min-height:196px;}
.overview_pos_daily_resp .overview_pos_daily_resp_content .res_input_container{padding-left:50px; height:auto; overflow:hidden; margin-top:33px;}
.overview_pos_daily_resp .overview_pos_daily_resp_content .res_input_container .responsibility-field{height:auto; overflow:hidden; margin-bottom:5px;}

.overview_desired_employment{float:left; width:317px; height:auto; margin-left:12px; background:url("/assets/employer/grey_container_bg_317.gif") left top repeat-y; overflow:hidden; margin-bottom:10px;}
.overview_desired_employment .overview_desired_employment_top{background:url("/assets/employer/grey_rounded_top_317.gif") left top no-repeat; width:317px;}
.overview_desired_employment .overview_desired_employment_bottom{background:url("/assets/employer/grey_rounded_bottom_317.gif") left bottom no-repeat; width:317px;}
.overview_desired_employment .overview_desired_employment_content{height:auto; overflow:hidden; padding:0 20px 0 15px; min-height:65px;}

.overview_desired_employment .overview_desired_employment_content .listContanier{list-style:none; list-style-type:none;}
.overview_desired_employment .overview_desired_employment_content .listContanier li{height:auto; overflow:hidden; margin-bottom:10px;}
.pos-prof-ticker{float:none; clear:both; padding-top:10px;}
.textarea-posdisc{margin-bottom:10px; margin-left:50px; margin-top:15px; padding:5px;}
.buttonContainer{padding:15px 0 0 0; height:auto; overflow:hidden;}

/* modified for profile drag */
.ui-widget-content {
    background: none repeat scroll 0 0 #0bc2ec!important;
    border: 0 none;
}

.emp-comp-slider-cotainer{background:#DDDDDD; -moz-border-radius:2px 2px 2px 2px; margin-top: 20px;}
#overview-content.accordion-content .ui-widget-content {
    background: none repeat scroll 0 0 #DDDDDD!important;
    border: 0 none;
}
#overview-content.accordion-content .ui-slider .ui-slider-range {
    background-color: #0BC2EC;
    background-image: none;
    /*
    background: url("/assets/employer_v2/slider-small-new.png") repeat-x scroll 0 0 transparent;
    height: 17px;
    top: -6px;
    */
}
#overview-content.accordion-content .ui-slider .ui-slider-handle {
    cursor: pointer;
}

div.ques-inner-box{width:auto; background-color: #ffffff;}
.profile_work_role_env_content{display:none; height:auto; width:auto; backgrou nd:red; overflow:hidden; padding:15px 0 10px 0;}

.work-env-box{background:url("/assets/employer/workBox-bg.gif") left top repeat-y; width:696px; margin-bottom:15px; height:auto; overflow:hidden;}
.work-env-box .work-env-box-top{background:url("/assets/employer/workBox-top.gif") left top no-repeat; width:698px;}
.work-env-box .work-env-box-content{padding:0 10px; height:auto; overflow:hidden;}
.work-env-box .work-env-box-bottom{background:url("/assets/employer/workBox-bottom.gif") left bottom no-repeat; width:696px;}

.work-env-blue-box{background:url("/assets/employer/workBox-blue-bg.gif") left top repeat-y; width:696px; height:auto; overflow:hidden; margin-bottom:15px;}
.work-env-blue-box .work-env-blue-box-top{background:url("/assets/employer/workBox-blue-top.gif") left top no-repeat; width:698px;}
.work-env-blue-box .work-env-blue-box-content{padding:0 10px; height:auto; overflow:hidden;}
.work-env-blue-box .work-env-blue-box-content .role-header{border-bottom:1px solid #99a2a8;}
.work-env-blue-box .work-env-blue-box-bottom{background:url("/assets/employer/workBox-blue-bottom.gif") left bottom no-repeat; width:696px;}

.block-heading{height:auto; overflow:hidden;}
.block-heading .tab_innerblock_heading{float:left; line-height:31px;}
.block-heading .btn_modify{float:right;}

.result-block{margin:10px 0; border:1px solid #e4e4e4;}
.result-block .block-heading{height:auto; overflow:hidden; padding:10px 5px; background:#f1f4f8; border-bottom:1px solid #99a2a8;}
.result-block .block-heading .headings{width:46%; float:left; padding-left:20px; font-weight:bold; color:#000078;}
.result-block .result-container{border-top:1px solid #dedede; padding:10px 5px; height:auto; overflow:hidden; background:#f6f6f6;}
.result-block .result-container .content{float:left; width:50%;}

.innerFooter{height:auto; overflow:hidden; margin-bottom:10px;}
.innerFooter a.helpIcon{float:right; margin:5px 10px 0 0;}

/* added for help text help file */
#helpTextContainer .pairing-all-color-show{width:726px; padding:10px; font-size:12px; line-height:18px;}
#helpTextContainer .all-c-section{width:360px;}
#helpTextContainer .all-c-txt{width:295px;}

.save_buttton_62-18{background:url("/assets/save_74-31.png") left top no-repeat; height:31px; width:74px; text-indent:-10000px; cursor:pointer;}
.btn_modify{background:url("/assets/employer/btn_modify.gif") left top no-repeat; height:31px; width:74px; text-indent:-10000px; cursor:pointer;}

.degree-box-container,
.exp-box-container{height:auto; overflow:hidden; clear:both; padding:10px 0;}
.degree-box-container a:hover,
.profile_credentials_content .intro-right-content a{text-decoration:none;}

.language-container{padding:10px 0; clear:both;}
/* common class */
.padding-15px{padding:15px;}
.padding-B-0px{padding-bottom:0!important}
.margin-B-20px{margin-bottom:20px;}
.float-left{float:left;}
.float-right{float:right;}
.margin-B-0px{margin-bottom:0px!important}
.margin-TB-10px{margin:10px 0;}

.dc-section-header-absolute {left: 10px; position: static!important; top: 0; }

.preview-left-corner{background-image:url("/assets/preview_corner_left.png"); background-repeat:no-repeat; float:left; height:36px; width:9px;}
.preview-center-line{background-image:url("/assets/preview_center_line.png"); background-repeat:repeat-x; float:left; height:36px; width:680px;}
.preview-right-corner {background-image:url("/assets/preview_corner_right.png"); background-repeat:no-repeat; float:left; height:36px; width:9px;}
div.job-inner-box{background-image: url("/assets/preview_bg_698.png"); background-repeat: repeat-y; text-align: left; width: 698px;}
.preview-header{font-size:18px;}
.preview-header-text {margin-top: 12px;}
.preview-header .preview-header-text .left {float: left;}
.preview-header .preview-header-text .right {float: right; padding-top: 3px;}
div.job-detail {padding: 5px 15px 15px;}
.job-detail .job-prev-links {float: right; line-height: 25px; margin-bottom: 0; margin-top: 10px; text-align: center; width: 420px;}
.wildcard-pay-button,
.job-pay-button{float: right; width: 198px;}
.job-archive-button {float: right; margin: 5px 8px 0 0; width: 65px;}
.job-follow-button {float: right; margin: 5px 8px 0 0; width: 106px;}
.preview-bottom-center{background-image:url("/assets/preview_bottom.png"); background-repeat:repeat-x; height:18px; width:698px;}
.dc-share-box{float: left; margin-top: 10px; width: 290px;}
.dc-share-inner{border: 1px solid #DFEDF0; font-size: 11px; height: 48px; width: 290px;}
.dc-share-inner-head{background-color: #D3E9F4; margin-top: 1px;}
.dc-share-inner-row{margin: 6px 0 2px 7px;}

.jobs_group{float:left; margin:0 0 0 5px;}
.active-image{float:left;  margin:5px 7px 0 0;}
.buttton_106X23:hover{text-decoration:none;}

/* */
.group-section-job{font-weight: 300; font-size: 13px; padding-left: 4px;}
.group-section-job:hover{background:#b4deee; font-weight: 400; font-size: 13px;}
.group-section-job-hover{
    background: none repeat scroll 0 0 #B4DEEE;
    font-size: 13px;
    font-weight: 400;
    height: 24px !important;
    width: 100%;
    -moz-opacity: 0.50;
    opacity:.50;
    filter:alpha(opacity=50);
}
.account-form-field{height:auto; overflow:hidden; margin-bottom:15px;}
.account-form-field li{display:block; padding:5px 3px; height:auto; overflow:hidden;}
.account-form-field li label{width:150px; float:left; line-height:22px; /*font-weight:bold;*/}
.account-form-field li input{float:left;}
.save-button-container{text-align:right}
.button-next{float:right; background:url("/assets/employer/Next_button.png") left top no-repeat; height:31px; width:74px; text-indent:-9999px; display:block;}
.btn-submit{border:none; background:none;float:right; background:url("/assets/employer/send.png") left top no-repeat; height:31px; width:74px; text-indent:-9999px; display:block; margin-bottom:10px;}
.feedback-text-field textarea{border:1px solid #d5d5d7; height:195px; width:640px;  margin:0 auto; padding:10px 5px; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px;}

.noPurchaseData{display:block; text-align:center; margin-top:75px; color:#8f8f8f; font-size:13px;}
.no-data-candidatepool{display:block; text-align:center; color:#8f8f8f; font-size:11px; padding:60px 0;}


/* added for footer popups */
/*.popup-heading{font-size:14px; font-weight: bold; margin: 10px 0; text-align:center; font-weight:bold;}*/
.popup-heading{color: #000066;float: left;font-size: 24px; font-weight:300;}
.revision-Date{font-size:12px; text-align:center; margin:10px 0;}
.popup-data-container{height:500px; overflow-y:auto; line-height:20px;}
.sub-heading{font-size:13px; margin:15px 0 5px 0; font-weight:bold;}
ol.examples{list-style:none; list-style:none; margin:5px;}