@charset "utf-8";
/* CSS Document */
#content-container .dark-paper-container .form-container .form-element-container input[type=text]{height:25px; padding-top:12px; width:265px;}
#content-container .dark-paper-container .form-container .form-element-container input[type=password]{height:25px; padding-top:12px; width:265px;}
.login-container .login-container-content ul li input[type="text"],
.login-container .login-container-content ul li input[type="password"] {width: 183px; height:25px; padding-top:12px;}

.customized-input.input-text,
.customized-input.active-input input,
.customized-input.input-text-active,.popup-content .fp-input-cnt input
.customized-input.input-text-error{zoom:1;}
.customized-input.input-text input,
.customized-input.active-input input,
.customized-input.input-text-active input,
.customized-input.input-text-unactive input,
.customized-input.input-text-error input{height:27px; padding-top:10px;}


.customized-inner-input.input-text,
.customized-inner-input.active-input input,
.customized-inner-input.input-text-active,
.customized-inner-input.input-text-error{zoom:1;}
.customized-inner-input.input-text input,
.customized-inner-input.active-input input,
.customized-inner-input.input-text-active input,
.customized-inner-input.input-text-unactive input,
.customized-inner-input.input-text-error input{height:30px; padding-top:7px;}

#beta_access .popup-upper-block-fogetPwd .popup-content .access-block .normal-text{width: 170px;margin-right:4px;}
#beta_success .popup-upper-block-fogetPwd .popup-content .access-block .error-text{width:364px;}
/*.popup-content .fp-input-cnt{width:255px;}*/
.popup-content .fp-input-cnt input{width:250px;}
#footer .hil-footer-kit li.lastChlid {width:86px;}
.giftHilo{line-height:normal;}
#footer .hil-footer-kit li.lastChlid label{line-height:24px;}

.white_content .popup-header-container .popup-heading,
.detiled_content .popup-header-container .popup-heading{font-weight:lighter;}
#page-container-pairingProfile .paring-cont-zip .content-shadow .paring-gradient .location-preference .any{margin-left:4px;width:52px;}
.comp-slider-labels{font-weight:bold;}
.comp-slider-labels .comp-slider-label-43{margin-right:38px;}
.comp-slider-labels .comp-slider-label-35{margin-right:27px;}
.comp-slider-labels .comp-slider-label-47{margin-right:41px;}
.comp-slider-labels .comp-slider-label-48{margin-right:45px;}
.comp-slider-labels .comp-slider-label-49{margin-right:46px;}
.comp-slider-labels .comp-slider-label-50{margin-right:47px;}
.comp-slider-labels .comp-slider-label-51{margin-right:49px;}
.comp-slider-labels .comp-slider-label-52{margin-right:50px;}
.comp-slider-labels .comp-slider-label-53{margin-right:41px;}
.comp-slider-labels .comp-slider-label-54{margin-right:51px;}
.comp-slider-labels .comp-slider-label-55{margin-right:52px;}
.comp-slider-labels .comp-slider-label-56{margin-right:53px;}
.comp-slider-labels .first{margin-left:2px;}
.comp-slider-labels .last{margin-right:0px;}
#footer .hil-footer-kit li.lastChlid label{top:0px;}
.margin-R-50px{margin-right:41px}
#page-container-profile .block-contact-info .contact-list li{padding: 1px 0;}
.paring-cont-interest .content-shadow .paring-gradient .interested-category li { margin-right: 21px;}
.paring-cont-zip .content-shadow .paring-gradient .location-preference {padding: 14px 0 0;}
.width-178px {
    width: 185px !important;
}
.personality-section-heading{width: 164px;}

.paring-cont-zip .help-icon a{height: 24px;}
.paring-cont-zip .content-shadow .paring-gradient{padding-bottom:4px !important;}
.paring-cont-zip .content-shadow .paring-gradient .location-preference{padding-top:7px !important;}
.paring-cont-zip .content-shadow .paring-gradient .location-preference #pos_loc{margin-top:-8px !important; width: 190px !important; margin-bottom: 2px !important;}
.detiled_content .gradient-content-oneClick{ padding:20px 12px 10px 0px;}
.popup_background_box_bg1{padding:10px 8px 10px 9px;}
.block_overlay{z-index:9999; background:url("../assets/employer_v2/1px_blocker.png") transparent 0px 0px repeat;}
#siteActivation-account .siteActivation-account-billing-left { width:438px; float:left; }
#siteActivation-account-billing-center-border {border-left:1px solid #C0BBBE; height:335px; overflow:hidden; float:left; margin-top:50px; margin-left:13px; }

#barChart_div,#chart_div, #roleChart_div { background-color: white;}

.explore_select_role ul li{font-size: 12px;}
.margin-left-90px-IE8 {margin-left: 90px !important;}
.csbridge-text { width: 205px; }
#step3-position-detail .csbridge-text { width: 215px; }