

<div id="new_work_env" class="new_emp_work_env_questions_outer_box">
<%=render :partial => "/position_profile/employer_profile/work_role_env_questions", :locals => {:id => @job.id}%>
</div>


				

			
	