<div id="footer">
  <div class="hil-footer-kit">
    <ul class="lfloat footer-left-content">
    </ul>
    <ul class="rfloat footer-right-content">
      <li><label>Hilo. Inc. &copy; 2012</label></li>
    </ul>
  </div>
</div>