<% @desired_roles.each do |desired_roles| %>
  <li onclick="rolesMoreInfo('<%= desired_roles.code %>',this);">
    <%#= desired_roles.descripton %>
    <%= format_role_text(desired_roles.descripton, 45).html_safe  %>
  </li>
<% end %>