<!-- Beta Code Access -->
<div id="beta_access2" class="white_content">
  <div class="popup-upper-block-fogetPwd">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="access-block">
          <div class="movie-player-content">
            <div id="credentialsPlayer2">
              <iframe class="youtube-player" name="pcVplayerCP1" id="pcVplayerCP1" type="text/html" width="518" height="313" src="https://www.youtube.com/embed/tK1yTbtCgUY?wmode=transparent&rel=0" frameborder="0"></iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="home-popup-contnet">

      </div>
      <a href="javascript:void(0)" class="close" onClick="$('#beta_access2').hide();$('#fade_normal').hide();closeVPlayer('credentialsPlayer2','pauseVideo');">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>
<!-- /Beta Code Access -->