<div id="pairing-profile-completed-id" class="white_content">
<div class="paring-profile-completed" style="display:block;">
  <span class="popup-top">&nbsp;</span>
  <div class="popup-content">
    <div class="gradient-content">
      <div class="popup-header-container">
        <label class="popup-heading"><%=t ("pairing_profile.congratulations.heading") %></label>
      </div>
      <h3 class="idel-work"><%=t ("pairing_profile.congratulations.heading2") %></h3>
      <div class="access-block">
        <div class="lfloat pp-complete-text">
          <label class="free-text" style="display: block; margin-bottom:5px; margin-top: 4px; text-align: justify; width: 293px;"><%=t ("pairing_profile.congratulations.content") %></label>
        </div>
        <div class="rfloat width-99px" style="margin-bottom: 5px; margin-top: 28px;">
          <input id="pairing-profile-completed-id_button" type="button" onclick="basicFormSubmit();" class="continue-button-active" />
        </div>
      </div>
    </div>

    <div lass="home-popup-contnet"></div>
      <a class="close" href="javascript:void(0)" onclick="closePPComplete();">Close</a>
  </div>
    <span class="popup-bottom">&nbsp;</span>
</div>
</div>