<div class="one_click_payment_position_white_content" id="beta_help_access_2" style="display:none;">
        <div class="help_popup">
                <span class="position_popup-top">&nbsp;</span>
                <div class="position_popup-content_oneclick">
                        <div class="position_gradient-content_oneclick" style="padding:0px;">
                                
                                <div class="position_popup_select_box">
                                    <img src="/assets/employer_v2/img-ppd.jpg" />
                                </div>


                        </div>

                        <a id="save-close" href="javascript:void(0)" class="position_close_oneclick" onclick="$('#beta_help_access_2').hide();$('#fade_normal').hide();footerOnClosingPopup();">Close</a>
                </div>
                <span class="position_popup-bottom">&nbsp;</span>
        </div>
</div>
