<div class="one_click_payment_position_white_positionProfile" id="unauthorized_purchase">
  <div class="dashboard_position_popup-siteActivation">
    <span class="position_popup-top">&nbsp;</span>
    <div class="position_popup-content_oneclick">
      <div class="position_gradient-content_oneclick">
        <div class="position_popup-header-container">
          <label class="popup-heading"><%=t ("unauthorized_purchase.title") %></label>
        </div>
        <div class="position_popup_select_box">
          <div class="access-block">
            <div style="width:60%;" class="lfloat error-text">
              <label class="free-text"><%=t ("unauthorized_purchase.content") %></label>
            </div>
            <div style="margin-left:0px;margin-top:0px" class="rfloat margin-T-5px">
              <input type="button" class="ok-button-active" id="unauthorized_purchase_button" onclick="$('#unauthorized_purchase').hide();hideErrorShadow();footerOnClosingPopup();"/>
            </div>
          </div>
        </div>
      </div>
      <a class="position_close_oneclick" href="javascript:void(0)" onclick="$('#unauthorized_purchase').hide();hideErrorShadow();footerOnClosingPopup();"><%=t ("unauthorized_purchase.close") %></a>
    </div>
    <span class="position_popup-bottom">&nbsp;</span>
  </div>
</div>
