<!DOCTYPE html>
<html>
<head>
  <title>Hilo3</title>
	<%=stylesheet_link_tag "application"%>    
    <%=yield :page_css%>
    <%=javascript_include_tag "application"%>

</head>
<body>

<%= yield %>

</body>
</html>
