<%=render :partial=>"/employer/employer_tab",:locals=>{:step=>"payment"}%>

<div class="wizard-content">
	<div class="payment-msg-container">
		<div class="payment-msg-box">
			<div class="payment-text-box">
				<%if @express_error%>
					<%=@message%>
					<br/><br/>
					
				<%else%>
					<div>
					You have successfully completed your employer registration payment.<br/>
					<%if not @amount_value.blank?%>
					You are charged with amount $<%=@amount_value%>.
					<%end%>
					</div>
				<%end%>
			</div>
		</div>
		
		<div style="padding-top:20px;">
			<%if @express_error%>
				<a href="/employer_payment/index"><img src="/assets/cancel.jpg"/></a>
			<%else%>
				<a href="/employer_account">Continue to Employer Account</a>
			<%end%>	
		</div>
		
	</div>
</div>




